#img_cintillo
{
  width: 100%;
  max-width:100%; 
  height: 80px;
}
#contenedor_is
{
  position: absolute;
  top: 13%;
  left: 70%;
  width: 20%;
  height: auto;
  padding: 2%;
  background-color: #fff
}
#contenedor_ppal
{
  position: absolute;
  width: 100%;
  height: 400px;
  background-color: #16a085;
  margin-top: 70px;
}
#contenedor_mensajeis
{
  position: relative;
  width: 35%;
  font-size: 2.5em;
  color: #fff;
  padding: 1%;
  margin-top: 3%;
  margin-left: 4%;
  text-shadow: 1px 1px 1px rgba(236, 236, 236, 0.97), 1px, 1px, 3px #000;
}
#linea_div, #linea_div_panelus
{
	width:100%;
	height:2px;
	float:left
}
#linea_div
{
  background-color:#ff7400;
}
#linea_div_panelus
{
  background-color:#16a085;
}

#btn_is
{
	width:100%;
	font-weight: bold;
}
html,body
{
	background-color:#EFEFF5;
  height: 100%;
}
#nombre_usuario,#clave_usuario
{
	font-family: 'FontAwesome'; 
  padding-left: 10px;
}
#contenedor_menu
{
  /*position: relative;*/
  position: absolute;
  background-color: #006063;
  margin-top: 0%;
  height: 45px;
  width: 100%;
 /* float: left;*/
}
.opciones_menu
{
  color:#fff;
  font-weight: bold;
}
#menu_pills
{
  padding-top: 0.3%;
  margin-left: 10%;
}
#contenedor_datos_us
{
  width: 100%;
  background-color: #252525;
  height: 80px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 10%;
  padding-right: 10%;
}
.opciones_menu.hover
{
  background-color:#fff; 
}
.cuadro_div
{
  /*position: relative;*/
  float: left;
  margin-left: 10%;
  margin-top: 27px;
  margin-bottom: 5%;
  background-color: #fff;
  width: 80%;
  height: auto;
  box-shadow: 1px 1px 11px 1px #252525;
  overflow: hidden;
}
#form_crear_ticket,#form_sugerencias
{
  padding: 3%;
}
#mensaje_caracteres,#mensaje_caracteres_sug,#mensaje_caracteres_sol,#mensaje_caracteres_solapl
{
  font-size: 1.5em;
}
#mensaje_caracteres_sol,#mensaje_caracteres_solapl
{
  margin-left: 3%;
}
#descripcion_ticket,#descripcion_sugerencia
{
  height:80px;
}
.contenedor_tabla
{
  padding: 5%;
}
.contenedor_tabla_adm
{
  padding-left:  5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-top: 0%;
}
.desc_ticket_param
{
  /*width:25%;*/
  width:40%;
  cursor:pointer;
  text-align: justify;
}
.desc_ticket_param2
{
  width:25%;
  cursor: pointer;
  text-align: justify;

}
#contenedor_respuesta
{
  overflow-x: hidden;
  float: left;
  /*max-height: 280px;*/
  max-height: 300px;
  /*margin-left: 5px;*/
  padding-left: 5%;
}
.scroll
{
  overflow: scroll;
}
/*#ventana_desc
{
  width:50%;
}*/
.c_ventana
{
  width:50%;
}
.cuerpo_mensaje_desc
{
  color:#000;
}
.titulo_mensaje_desc
{
  font-weight: bold;
  color:#000;
}
.caja_desc
{
  height: 13%;
}
.caja_c
{
  height: 9%;
}
.imagen_us,.imagen_us2, .imagen_tecnico
{
   width: 7%;
   float: left;
   position: relative;
}
.imagen_us2
{
  margin-top: 2%;
  margin-left: 2%;
}
#cuadro_descripcion
{
  width: 100%;
  position: relative;
  float: left;
  /* margin-left: 2%; */
  text-align: justify;
  padding-bottom: 1%;
}
.cuadro_descripcion_sol
{
  /*width: 85%;
  position: relative;
  float: right;
  margin-right: 5%;*/
  width: 95%;
  position: relative;
  float: left;
  /*margin-left: 2%;*/
  text-align: justify;
}
.cuadro_descripcion_tec
{
  width: 85%;
  position: relative;
  float: left;
  text-align: justify;
}
.cuadro_descripcion_apl
{
  width: 85%;
  position: relative;
  float: left;
  text-align: justify;
}
#nombre_us_creador, .nombre_us_apl, .nombre_tec, .nombre_mtec
{
  /*position: relative;
  margin-left: 2%;*/
  font-weight: bold;
  color:#317eac;
  float: left;
}
.nombre_mtec_adm
{
  position: relative;
  float: left;
  margin-left: 2%;
  font-weight: bold;
  color: #0148a0;
  width:28%;
}
.cuadro_datos_apl,.cuadro_datos_tec,.cuadro_datos_mtec,#cuadro_datos_soltec
{
  width: 100%;
  float: left;
  position: relative;
 /*margin-left: 9%;*/
  color: #999999;

}
#cuadro_datos_ticket
{
  position: relative;
  float: left;
  /* left: 9%; */
  width: 100%;
  height: auto;
}
.datos_fecha,.datos_tecnico,.datos_estatus,.cuadro_datos_tec,.cuadro_datos_mtec 
{
  margin-right: 2%;
  color: #999999;
}
.datos_fecha
{
  float:left;
}
.datos_estatus
{
  float: left;
  position: relative;
}
.datos_tecnico
{
  width: 70%;
  height: auto;
  float: left;
  text-align: justify;
}
#guardar_apelacion,#cancelar_apelacion,#aceptar_mensaje,#aceptar_eliminacion,#cancelar_eliminacion,#guardar_solticket,#cancelar_solticket,#guardar_apel_solticket,#cancelar_apel_solticket,#aceptar_salir,#cancelar_salir
{
  display: none;
  float:right;
}
#desc_sol
{
  /*margin-bottom: 2%;*/
  height: auto;
  text-align: justify;
}
.text-apelacion
{
  float: left;
  width: 80%;
  margin-top: 2%;
  margin-left: 2%;
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.text-solucion
{
  float: left;
  width: 80%;
  height: 60px;
  /*margin-top: 2%;*/
  margin-left: 2%;
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#mensaje_caracteres_apl
{
  margin-left: 10%;
  font-size: 1.5em;
}
#mensaje_el
{
    margin-top: 5%;
}
.td_tabla
{
  cursor: pointer;
}
.contenedor_agrupacion_mensaje
{
  float: left;
  position: relative;
  padding-bottom: 2%;
  width: 100%;
}
#contenedor_respuesta_tecnico,.contendor_mtecnico_sol
{
    margin-left: 10%;
}
#contenedor_respuesta_apl
{
  margin-left: 10%;
  width:85%;
  float: left;
  padding-bottom: 1%;
}
.show
{
  display: block;
}
.show_inline
{
  display: inline-block;
}
.hide
{
  display: none;
}
.pag_btn
{
  display: inline-block;
}
.span_paginacion
{
  font-weight: bold;
  font-size: 1.2em;
}
#inicio_tabla
{
  margin-left: 1%;
}
.imagen_us_tad
{
  width: 50%;
}
.th_foto_tad
{
  width:10%;
}
/*Clases de ventanas*/
.ventana_normal
{
  width:50%;
}
.ventana_grande
{
  width:80%;
}
.ventana_peque
{
  width:30%;
}
.ventana_adm
{
 /* min-height: 700px;*/
  height:auto;
  width:80%;
}
/*Clases cuerpo mensaje*/
.cuerpo_auto
{
  height: auto;
}
.cuerpo_resumen
{
    /*min-height: 550px;*/
    height: auto;
}
.cuerpo_normal
{
  height: 350px;
  min-height: 20%;
}
.cuerpo_xdefecto
{
  /*min-height: 300px;*/
  height: auto;
}
.cuerpo_astecnico
{
  /*min-height:720px;*/
  height: auto;
} 
#cabecera_as_tecnico
{
  position: relative;
}
.imagen_as_tec
{
  width: 5%;
  float: left;
  position: relative;
}
#nombre_us_adm
{
  position: relative;
 /* margin-left: 2%;*/
  font-weight: bold;
  color: #317eac;;
  float: left;
}
#nombre_us_soltec
{
  position: relative;
  font-weight: bold;
  color: #317eac;
  float: left;
}
#cuadro_descripcion_adm
{
  /*padding-left: 10%;
  overflow-x: hidden;*/
  height: auto;
  text-align: justify;
  /*height: 100px;
  max-height: 100px;*/
}
#cuadro_descripcion_soltec
{
  height: auto;
}
#cuadro_datos_ticket_adm, 
{
  width: 30%;
  left: 1.5%;
  position: relative;
}
.legend_adm
{
  float: left;
  width: 100%;
}
.legend_adm2
{
    padding: 1px;
    margin-top: 5%;
}
.legend_tec
{
  padding:1%;
  margin-top: 5%;
}
.datos_fecha_adm
{
  float: left;
 /* margin-left: 2%;*/
}
#contenedor_tecnico_adm
{
  width:100%;
  position: relative;
}
.alerta_div
{
  width: 100%;
}
.lista_multiple
{
  width:100%;
}
.botonera_select
{
  float: left;
  margin-top: 10%;
}
.contenedor_select_as
{
  padding: 1%;
}
.btn_select
{
  float: left;
  position: relative;
  margin-top: 140%;
}
#cabecera_as_tecnico
{
  margin-bottom: 1%;
  margin-top: 2%;
}
.img_tec_ppal,.img_us_soltec
{
  width: 8%;
  float: left;
  position: relative;
}
#cuerpo_1
{
  position: relative;
  float: left;
  width: 49%;
 /* margin-top: 20px;*/
  margin-left: 20px;
  border-right: solid 5px #eee;
}
#cuerpo_2
{
  position: relative;
  width: 48%;
  float: right;
  /*min-height: 720px;*/
  height: auto;
  padding: 1%;
  /*margin-left: 10px;*/
}
.contendor_mtecnico_sol
{
  width:95%;
  margin-left: 5%;
  float:left;
}
.contendor_mtecnico
{
  width:95%;
  float:left;
}
.hr_resumen
{
    padding-top: 6%;
}
.asignaciones_tec
{
  margin-top: 2%;
}
.cuerpo_tec_sel
{
  max-height: 400px;
  width: 100%;
  padding-bottom: 1%;
  overflow-x: hidden;
  /*height:auto;*/
  float: left;
}
.as_tec
{
  font-weight: bold;
}
#cuerpo_apelaciones
{
  /*max-height: 600px;*/
  max-height: 480px;
  overflow-x: hidden;
}
#label_asg
{
  width:50%;
}
.div_ini
{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
.div_ini2
{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  float: left;
}
#logo_institucion
{
  float: left;
  position: relative;
  width: 6%;
}
#datos_institucion
{
  position: relative;
  float: left;
  width: 62%;
  color: #fff;
  font-weight: bold;
  font-size: 1.8em;
  padding-top: 0.3%;
}
#datos_usr
{
  position: relative;
  float: left;
  width: 25%;
  padding-top: 1%;
  color: #FFF;
  font-weight: bold;
  text-align: right;
}  
#img_usr
{
  float: left;
  position: relative;
  width: 7%;
}
#img_ppal_usr
{
  width: 55%;
  border-style: solid;
  border-color: #fff;
}
.resalta_campo
{
  font-weight: bold;
  font-size: 1.4em;
}
.btn-cancelar
{
  background-color: #e4e4e4;
  border-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e4e4e4),to(#ccc));
  background-image: -moz-gradient(linear, left top, left bottom, from(#e4e4e4),to(#ccc));
  background-image: gradient(linear, left top, left bottom, from(#e4e4e4),to(#ccc));
   text-shadow: 1px 1px 1px #eee;
}
.btn-aceptar
{
  background-color: #006063;
  border-color: #006063;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#008185),to(#006063));
  background-image: -moz-gradient(linear, left top, left bottom, from(#008185),to(#006063));
  background-image: gradient(linear, left top, left bottom, from(#008185),to(#006063));
    color: #fff;
}
.btn-amarillo
{
  background-color:#f0ad4e;
  border-color: #eea236;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0ad4e),to(#d78612));
  background-image: -moz-gradient(linear, left top, left bottom, from(#f0ad4e),to(#d78612));
  background-image: gradient(linear, left top, left bottom, from(#f0ad4e),to(#d78612));
  color: #fff;
}
.btn-amarillo2
{
  background-color:#f6a828;
  border-color: #eea236;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}     
.btn-aceptar:hover,.btn-amarillo:hover, .btn-amarillo2:hover
{
  color:#fff;
}
.btn-pasar
{
  margin-bottom: 20%;
}
.mensaje_inicio
{
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
}
.div_leyenda
{
  margin-left: 1%;
  padding-bottom: 3%;
}
.cuadrados_leyenda
{
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 2%;
  cursor: pointer;
}
.opcion_leyenda
{
  float:left;
  width: 10%;
  height: 15px;
  margin-right: 2%;
}
.cuadrado_asignado
{
  background-color: #006063;
  border-color: #006063;

}
.cuadrado_cerrado
{
  background-color: #d9534f;
  border-color: #d43f3a;
 
}
.cuadrado_apelado
{
  background-color:#f0ad4e;;
  border-color: #eea236;
}
.btn_dng
{
  width: 15%;
}
.btn-dn2
{
  width: 90px;
  float: left;
  position: relative;
  margin-left: 1%;
}
.div_btn_sol
{
  padding-top: 2%;
  padding-right: 2%;
  margin-left: 10%;
}
#cuadro_datos_soltec
{
  position: relative;
}
#cabecera_soltec
{
  float: left;
  width: 100%;
}
.imagen_tec_sol,.imagen_tec_solapl
{
  margin-left: 5%;
  width: 8%;
  float: left;
}
#historial_mensajes_sol
{
  float: left;
  max-height: 250px;
  overflow-x: hidden;
  margin-bottom: 1%;
  width: 100%;
  height: auto;
  padding-left: 5%;
}
.listado_selec_apelaciones
{
    padding-bottom: 3%;
}
.cuerpo_asignacion_apl
{
  max-height: 400px;
  width: 100%;
  overflow-x: hidden;
  text-align: justify;
}
.titulosd_apl_asg
{
  color: #317eac;
  font-weight: bold;
}
#cuerpo_apl_tec
{
  padding: 2%;
}
#ventana_desc2
{
  margin-top: 5%;
}
.btn_el_tec
{
  margin-left: 2%;
}
#mensaje_reg_asig_apl
{
  float:left;
  margin-top: 2%;
  width:100%;
}
#mensaje_reg_adm
{
  float: left;
  width: 90%;
}
#mensaje_reg_cerrar
{
  position: relative;
  width: 100%;
}
.btn_asig
{
  width: 31%;
  margin-left: 1px;
}
.options-logo
{
  width: 80px;
  height: 60px;
  text-align: center;
  margin-bottom: 30px;
}
.options-logo i 
{
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}
#cuerpo_tasig,#cuerpo_apelasig
{
  width: 49%;
  float: left;
  position: relative;
  margin-bottom: 5%;
  margin-top: 2%;
}
#grupo_ticket_asig
{
  margin-bottom: 4%;
}
#cuerpo_apelasig
{
  border-left: solid 5px #eee;
  margin-left: 2%;
  padding-left: 5%;
}
.img_ticket_asig
{
  width: 10%;
  float: left;
  position: relative
}
.nombre_ticket_asig
{
  position: relative;
  float: left;
  font-weight: bold;
  color: #0148a0;
  width: auto;
}
.desc_ticket_asig
{
  float: left;
  padding-right: 2%;
  width: 85%;
  position: relative;
  text-align: justify;
}
.hora_tec_asig
{
  width: 80%;
  float: left;
  position: relative;
  font-weight: bold;
}
.btn_ticket_asig
{
  margin-top: 3%;
}
#cuerpo_apel
{
  float: left;
  position: relative;
  width: 100%;
}
.desc_ticket_apel2
{
  width: 80%;
  margin-left: 10%;
  text-align: justify;
}
.desc_ticket_apel
{
  /*font-weight: bold;*/
  text-align: justify;
  padding-right:5%;
  height: auto;
}
.hora_ticket_apel
{
  width: 80%;
  float: left;
  font-weight: bold;
  margin-left: 10%;
}
.cuerpo_scroll
{
  overflow-x: hidden;
  max-height: 460px;
  min-height: 460px;
}
#btn_pie
{
  position: relative;
  float: left;
  width: 50%;
}
#mensaje_cierre_sol_ticket,#mensaje_cierre_sol_apel
{
  width: 60%;
  float: left;
}
.btn_sol_ticket
{
  float:left;
  position: relative;
}
.titulo_historial
{
  float: left;
  width: 100%;
}
.titulo_adm
{
  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
}
.select_titulo
{
  float: left;
  margin-top: 3%;
}
#select_adm
{
  font-size: 1em;
  float: right;
}
.title_adm
{
  float: left;
  width: 40%;
}
.btn_historial
{
  float: right;
  /*position: relative;*/
  margin-right: 4px;
  font-size: 1.5em;
  color: #317eac;
  cursor:pointer;
}
#cuerpo_sistema
{
  background-color: #EFEFF5;
  height: auto;
}
.contenedor_tabs
{
  /*padding-bottom: 3%;*/
  height: auto;
}
.contenedor_soluciones
{
  height: 600px;
}
#crear_ticket,#mis_tickets,#sugerencias,#admin_tickets,#sol_tickets,
{
  position: absolute;
}
#contenedor_respuesta
{
  width: 100%;
  float: left;
  height: auto;
  margin-bottom: 10px;
}
#cabecera_solapel
{
  /*max-height: 100px;*/
  overflow-x: hidden;
  margin-bottom: 02%;
  height: auto;
}
.border_mensaje_apl
{
  border-right: #eea236;
  border-right-style: solid;
}
.border_mensaje_tecnico
{
  border-right: #006063;
  border-right-style: solid;
}
.border_respuesta_apl
{
  border-right-color: #bf7710;
  border-right-style: solid;
  border-right-width: 3px;
}
.contenido_mensaje
{
  float: left;
  position: relative;
  margin-left: 1%;
  max-width: 90%; 
}
.contenido_mensaje_adm
{
  max-width: 90%;
  width: 100%;
}
.contenido_mensaje2
{
  float: left;
  position: relative;
  margin-left: 1%;
  max-width: 90%;
  min-width: 90%; 
}
.div_cerrar_ticket
{
  margin-top: 20px;
  float: right;
  width: 25%;
}
.cabecera_adm
{
  overflow: hidden;
  padding-left: 1%;
}
.label-amarillo
{
  background-color: #f0ad4e;
  margin-top: 20px;
  width: 100px;
  padding-right: 20px;
}
.label-verde
{
  background-color: #006063;
  margin-top: 20px;
  width: 100px;
}
.label_estatus
{
  font-weight: bold;
  margin-top: 10%;
}
.label-rojo
{
  font-weight: bold;
  margin-top: 10%;
  background-color: #b5191f;
}
.resumen_ticket_m1 {
 /* height: 200px;
  max-height: 200px;
  overflow-x: hidden;*/
  height: auto;
  float:left;
}
.limpiar_float
{
  clear: both;
}
.btn_form
{
  float: left;
  margin-left: 1%;
}
.btn_mens_guard
{
  float: left;
  width: 85%;
  padding-left: 1%;
}
.btn_mens_guard2
{
  float: left;
  width: 80%;
  padding-left: 1%;  
}
.contenido_mensaje3
{
  float: left;
  position: relative;
  margin-left: 1%;
  max-width: 88%;
}
.contenido_mensaje_sol
{
  float: left;
  position: relative;
  margin-left: 1%;
  max-width: 90%;
  width:100%;
  height: auto;
}
.cuerpo_mensaje_sol
{
  float: left;
  /*margin-bottom: 1%;*/
  width:100%;
}
.cuerpo_apel_asig
{
  float: left;
  width: 100%;
}
.cuerpo_respuesta_sol
{
  float: left;
  width: 100%;
  padding-top: 2%;
}
.cuerpo_sol1
{
  float: left;
  width: 100%;
  padding-bottom: 2%;
}
#titulo_tec
{
  float:left;
}
.mensaje_accion
{
  color: #999999;
 /* font-weight: bold;*/
  float: left;
}
.mensaje_accion2
{
  color: #999999;
}
#opmenu_salir
{
  float: right;
  margin-right: 10.9%;
}
.encabezado_pie_tabla_correo
{
  width:100%;
  height:auto;
  background-color:#006063;
  color:#fff;
  font-weight:bold;
  font-size:20px;
}
.mensaje_no_permiso
{
    width: 117%;
}
.mensaje_permiso_solucion
{
  width:100%;
  float:left;
}
.btn-aceptar:focus,
.btn-aceptar:active:focus,
.btn-aceptar.active:focus,
.btn-aceptar.focus,
.btn-aceptar:active.focus,
.btn-aceptar.active.focus,
.btn-amarillo:focus,
.btn-amarillo:active:focus,
.btn-amarillo.active:focus,
.btn-amarillo.focus,
.btn-amarillo:active.focus,
.btn-amarillo.active.focus,
.btn-amarillo2:focus,
.btn-amarillo2:active:focus,
.btn-amarillo2.active:focus,
.btn-amarillo2.focus,
.btn-amarillo2:active.focus,
.btn-amarillo2.active.focus
{
  color: #fff;
  text-decoration: none;
}
.btn-aceptar:active,
.btn-aceptar.active {
  color: #fff;
  text-decoration: none;
}
.btn-amarillo:active,
.btn-amarillo.active,
.btn-amarillo2:active,
.btn-amarillo2.active,
 {
  color: #fff;
  text-decoration: none;
}
.ps-scrollbar-y-rail
{
  display:none;
}
#form_reportes
{
  margin-top: 20px;
}
#reportes_sistema
{
  padding:3%;
}
#generar_reporte_tecnicos_ticket,#cancelar_reporte_tecnicos_ticket
{
  float:left;
  margin-left: 4px;
}
#mensajes_rep_ticket
{
  float:left;
  margin-left: 4px;
  margin-top: 2%;
  margin-bottom: 1%;
}
#select_tecnico
{
  width: 100%;
  margin-right: 10px;
}
#contenedor_rep
{
  height: 100px;
}
.cont_botones
{
  width:50%;
  height: auto;
  float:left;
}
#contenedor_botones_1
{
   border-right: solid 5px #eee;
}
#leyenda
{
  margin-top: 5px;
}
#grafico2,#grafico3,#grafico2_dpto
{
  margin-left: 10px;
}
.btn-graficos-icon
{
  width:30px;
  height: 30px;
  cursor: pointer;
  margin-right: 2px;
}
.text-referencia
{
  color:#317eac;
  font-weight: bold;
}
#nota, #info-nota
{
  margin-top: 10px;
  margin-right: 3px;
  width:90%;
}
#container
{
  /*width:800px;
  height:600px;
  margin-bottom: 2%;*/
  /**/
  height: 400px;
  width: 600px;
  margin-left: 10%;
  /**/
}
#container2
{
  width:1000px;
  height:500px;
  margin: 0 auto;
}
.ventana_grafico
{
  width:900px;
}
#body_graph
{
  width:943px;
  height:415px;
}
#btn_pdf_gr{
    float: right;
}
#id_tecnicos_grap{
  float: left;
  width: 100%;
}
#cuadro_leyenda
{
  margin-bottom: 10px;
}
#tabla_leyenda
{
  float: left;
  max-height: 170px;
  overflow-x: hidden;
  width: 100%;
}
.contenedor_g3
{
  margin-top: 5px;
}
.nombre_tecnico
{
  border: solid #006063;
  background-color: #006063;
  width: 70%;
  color: #fff;
  font-weight: bold;
  padding :1%;
}
.resumen_informacion
{
  border: solid #000 1px;
  width:70%;
}
.sub_titulo_tabla
{
  font-weight: bold;
}
.tiempos
{
  margin-left: 5%;
  padding: 1%;
}
.sub_titutlo2_g3
{
  border-bottom: solid #000 1px;
}
.agrupacion_tiemposg3
{
  padding: 1%;
}
.titulos_tablas
{
  background: #006063;
  color:#fff;
  padding: 1%;
}
#leyenda_g3
{
  margin-left: 5%;
}
.tabla_leyenda
{
  width:100%;
}
#cancelar_mensaje2,#aceptar_mensaje2, #guardar_apelacion2, #cancelar_apelacion2
{
  float: right;
  display: block;
  margin-left: 5px;
}
.mensaje_sol
{
  margin-top: 20px;
}

u 
{ 
    text-decoration: underline;
}

.botonera_reportes
{
  width: 100%;
  height: 48px;
  clear: both;
  float: left;
}
.menu_rep
{
  float:left;
  margin-left: 10px;
}
.opcion_menu
{
  width: 200px;
  padding: 7%;
  background-color: #006063;
  font-weight: bold;
  color: #fff;
  border-radius:4px 4px 0 0;
}
.opcion_menu:active,.reporte_active
{
  color: #555555;
  background-color: #dddddd;
  border:1px solid transparent;
}
.opcion_menu:hover
{
  color: #317eac;  
  background-color: #dddddd;
  border:1px solid transparent; 
}
.title_rep
{
  padding-left: 0px;
}
.hr_botonera_rp
{
  color: #dddddd;
  width: 100%;
  height: 10px;
  float: left;
  border-top: solid;
}
.apelacion_item
{
  width:100%;
}
/*---------------BOTONES DE PAGINACIÓN----------------*/
.btn-purple-haze
{
  background: #455479;
  color: #fff;
  border: 1px solid #2d3a5c;
}
.btn-purple-haze:hover,.btn-purple-haze:active
{
  color: #fff;
  background: #2c364e;
} 
.btn-crimson-red
{
  background: #cc4b4b;
  color: #fff;
  border: 1px solid #9b0909;
}
.btn-crimson-red:hover,.btn-crimson-red:active
{
  color: #fff;
  background: #972b2b;
} 
.bnt-yellow-legolas
{
   background: #cc4b4b;
  color: #fff;
  border: 1px solid #9b0909;
}
.bnt-yellow-legolas:hover,.bnt-yellow-legolas:active
{
  color: #fff;
  background: #972b2b;
}
/*---------------FIN DE BOTONES DE PAGINACIÓN --------*/
/*---------------INICIO STYLE DE LOS CHECK------------*/
.tasks-lists {position: absolute; top: 50%; right: 10px; margin-top: -11px; padding: 10px 4px; width: 19px; height: 3px;font: 0/0 serif;text-shadow: none; color: transparent;}
.tasks-lists:before {content: ''; height: 3px; background: #8c959d; border-radius: 1px;}
.tasks-list-item {display: list-item; line-height: auto; padding: 12px 15px; cursor: pointer; -webkit-user-select: none;-moz-user-select: none; -ms-user-select: none;user-select: none;}
.tasks-list-item + .tasks-list-item {border-top: 1px solid #f0f2f3;}
.tasks-list-cb {display: none;}
.tasks-list-mark {position: relative;display: inline-block;vertical-align: top;margin-right: 12px;width: 20px;height: 20px;border: 2px solid #c4cbd2;border-radius: 4px;}
.tasks-list-mark:before {content: '';display: none;position: absolute;top: 50%;left: 50%;margin: -5px 0 0 -6px;height: 8px;width: 12px;border: solid #4a6fb5;border-width: 0 0 4px 4px;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.text-check{position:relative;display: block;background:transparent;color: #000;font-size: 100%;padding: 8;width: 200px;resize:none;border:1px solid #c4cbd2;border-radius:4px;}
.hitorial-check{ font-size: 14px; font-weight: bold; color: #999; position: relative; padding-left: 180px; border:none; background: transparent;}
.tasks-list-cb:checked ~ .tasks-list-mark { border-color: #4a6fb5;}
.tasks-list-cb:checked ~ .tasks-list-mark:before { display: block;}
.tasks-list-desc {font-weight: bold; color: #aaa;}
.tasks-list-cb:checked ~ .tasks-list-desc {color: #333;}
.text-check:focus {border: 1px solid #765c35;outline: none;color: #2E2E2E; }
*{list-style-type: none;}
/*---------------FIN STYLE DE LOS CHECK------------*/
/**/
/*#Bloque de media query#*/
/*Para */
@media screen and (max-width: 1280px) {
    #contenedor_mensajeis{
        font-size: 24pt;
    } 
    #contenedor_datos_us{
        height: 60px;
    }
    #datos_institucion{
      padding-left: 2%;
    }
    .cuadro_div{
        margin-top: 10px;
    }
    .options-logo i{
      font-size: 40px;
      line-height: 50px;
      padding-right: 30%;
    }

}
@media screen and (max-width:980px){
  #datos_institucion{
      font-size: 1.3em;
      padding-left: 5%;
  }
  #contenedor_datos_us{
    padding-top: 1%;
  }
  .options-logo i{
    font-size: 40px;
    line-height: 40px;
  }
  .cuadro_div{
    margin-top: 5px;
  }
}
/*#*/
/**/