/*CSS RESET*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,details,figcaption,figure,footer,header,hgroup,mark,menu,meter,nav,output,progress,section,summary,time{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align: baseline;background:transparent;}article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, output, section, summary{display:block;}meter,progress,mark, time{display:inline;}ol, ul {list-style: none;}blockquote,q{quotes: none;}img{border:0;vertical-align:top;text-align:left;}object{vertical-align:top;outline:none;}ul,ol{list-style:none;}table,table td{padding:0;border:none;border-collapse:collapse;}input,select,textarea{font-family:Arial, Helvetica, sans-serif;font-size:1em;vertical-align:middle;font-weight:normal;margin:0;padding:0;}textarea{overflow:auto; resize:none;}
body,div,span{margin:0;padding:0;}
*:focus{outline:none;}

html {
  	background: url(../imagenes/imgbg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family:Arial, Helvetica, sans-serif;
}
nav#menu_index{margin-top:10px;}
nav#menu_index>ul>li{
	float:left;	
	margin-right:20px;
}

nav#menu_index>ul:first-child{margin-left:20px;}

nav#menu_index>ul>li>a{
	font-size:0.8em;
	font-family:'Helvetica';
	color:#000;
	text-decoration:none;
	text-transform:uppercase;	
   text-shadow: 1px 1px #fff;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
	position:relative;
}

nav#menu_index>ul>li>a.activo{color:#000; font-weight:bold;}

nav#menu_index>ul>li>a:hover{top:1px;}

nav#menu_index>ul>li>a:hover,nav#menu_index>ul>li.active>a{
	color:#000;
}

.left{float:left;}
.right{float:right;}
.clear{clear:both;}

.button { color: #fff; padding: 8px 14px 10px; background: #00adef; border: none; position: relative;
	-webkit-user-select: none;
	-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
	/*-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;*/
	-webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	-moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	cursor:pointer;
	width:100%;
	font-size:14px;
	height:35px;
}

.button:active{background:#0393c9; top:2px;}
	
.button.blue { background: #22C3EB; }
.button.green { background: #67b600; }
.button.orange { background: #da8a00; }
.button.yellow { background: #b3a400; }
.button.turquoise { background: #00b1af; }
.button.gray { background:#666; }
.button.red{background:#900;}	
.button:last-of-type { margin: 0;}
.button.white{background:#fff6f0;}
.button.black{background:#222;}

.ef_text1{text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,2px 2px 2px rgba(0,0,0,0.40);}
.ef_text2{text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,4px 4px 2px rgba(0,0,0,0.40);}
.ef_text3{text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,1px 1px 1px rgba(0,0,0,0.40);}
.ef_text4{text-shadow:2px 2px 0 #fff,-2px -2px 0 #fff,-2px 2px 0 #fff,2px -2px 0 #fff,6px 6px 2px rgba(0,0,0,0.40);}
.ef_text5{text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,4px 4px 2px rgba(0,0,0,0.10),-2px -2px 2px rgba(0,0,0,0.10),-2px 2px 2px rgba(0,0,0,0.10),2px -2px 2px rgba(0,0,0,0.10);}

.ef_text1-label{text-shadow:1px 1px 0 #fff,-1px -1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,2px 2px 2px rgba(0,0,0,0.40); font-size:14px; color:#555;}