<fieldset>
		<div> 
				<h3 class="title_adm"> Administraci&oacute;n de Tickets</h3>
		</div>
		<div ></div>
		<div class="div_cerrar_ticket" id="div_cerrar_ticket">	
			{cerrar_ticket}
		</div>		
</fieldset>