<div><h4><label>Asignaci&oacute;n de T&eacute;cnicos</label></h4></div>
<div>
<button class="btn btn-primary" type="button" name="btn_pasar" id="btn_pasar">></button>
<button class="btn btn-primary" type="button" name="btn_pasar" id="btn_pasar"><</button>
<select name="tecnico_destino[]" id="destino" multiple="multiple" size="8">
	<!--row_tec-->
	<option id="{indice}">{opcion_tecnico}</option>
	<!--row_tec-->
</select>
</div>	