<div id="logo_institucion">{logo_institucion}</div>
<div id="datos_institucion">{datos_institucion}</div>
<div id="datos_usr">{datos_usr}</div>
<div id="img_usr" ><img id="img_ppal_usr" src="{img_ppal_usr}" class="img-circle img_us pull-right"></div>