<div id="btn_tab_technicians" class="btn btn-new-table btn-red">Listado</div>
<div class="bar_forms color_bar_red">T&Eacute;CNICOS</div>
<div class="form-group">
	<div class="col-xs-2">
	    <label>C&eacute;dula</label>
	  	<input type="text" class="form-control margin-forms" id="cedtec" maxlength="8" onkeypress="return valida(event,this,10,8);" onblur="valida2(this,10,8);"/>
	  	<input type="hidden" size="2" id='idtec' name='idtec'></input>
	</div>
	<div class="col-xs-3">
	    <label>Nombres</label>
	  	<input type="text" class="form-control margin-forms" id="nomtec" maxlength="35" onkeypress="return valida(event,this,19,35);" onblur="valida2(this,19,35);"/>
	</div>
	<div class="col-xs-3">
	    <label>Apellidos</label>
	   	<input type="text" class="form-control margin-forms" id="apetec" maxlength="35" onkeypress="return valida(event,this,19,35);" onblur="valida2(this,19,35);"/>
	</div>
	<div class="col-xs-4">
	    <label>Correo</label>
	   	<input type="email" class="form-control margin-forms" id="ematec" maxlength="35" onkeypress="return valida(event,this,20,35);"onblur="valida2(this,20,35);val_correo(this);"/>
	</div>
	<div class="col-xs-5">
	    <label>Perfil de t&eacute;cnico</label>
		<select id="perftec" class="form-control margin-forms">
			<option value="" selected="selected">...</option>
			<!--PERFIL_TECNICOS-->
			<option value="{id_perfil}">{perfil}</option>
			<!--PERFIL_TECNICOS-->
		</select>
	</div>
	<div class="col-xs-5">
		<label>Area de soluci&oacute;n</label>
		<select id="solutec" class="form-control margin-forms" >
			<option value="" selected="selected">...</option>
			<!--AREA_SOLUCION-->			
			<option value="{id_area}" class='data-option' id="chan{num_i_select}" data="{descrip}" >{area}</option>
			<!--AREA_SOLUCION-->
		</select>
	</div>
	<div class="col-xs-2">
		<label>Estatus</label>
		<select id="tec_estatus" class="form-control margin-forms" >
			<option value="" selected="selected">...</option>
			<!--TEC_ESTATUS-->
			<option value="{id_estatus}" class='data-option'>{estatus}</option>
			<!--TEC_ESTATUS-->
		</select>
	</div>
	<div class="col-xs-12" >
		<label class="color-descrip">Descripci&oacute;n de area de soluci&oacute;n seleccionada</label>
		<div id="descrip" class="descrip"></div>
	</div>
	<div class="col-xs-12">
		<div class="col-xs-3 margin-left15">
			<div id="save_form_tec" class="btn btn-registro btn-red margin-left15">Guardar</div>
			<div id="cancel_form_tec" class="btn btn-registro btn-red">Cancelar</div>
		</div>
		<div id="alert-tec" class="col-xs-9 hidden_auto"></div>
	</div>


</div>
