<div id="btn_tab_area_solu" class="btn btn-new-table btn-green">Listado</div>
<div class="bar_forms color_bar_green">&Aacute;REAS DE SOLUCI&Oacute;N</div>
<div class="form-group">
	<div class="col-xs-6">
	    <label>Nombre</label>
	  	<input type="text" class="form-control margin-forms" id="nom_area_solu" onkeypress="return valida(event,this,19,70);" onblur="valida2(this,19,70);"/>
	</div>
	<div class="col-xs-2">
	    <label>Tlf.Principal</label>
	   	<input type="text" class="form-control margin-forms" id="tlf_prin_area_solu" onkeypress="return valida(event,this,10,15);" onblur="valida2(this,10,15);"/>
	</div>
	<div class="col-xs-2">
	    <label>Tlf.Principal</label>
	   	<input type="text" class="form-control margin-forms" id="tlf_alter_area_solu" onkeypress="return valida(event,this,10,15);" onblur="valida2(this,10,15);"/>
	</div>
	<div class="col-xs-2">
		<label>Estatus</label>
		<select id="area_solu_estatus" class="form-control margin-forms" >
			<option value="" selected="selected">...</option>
			<!--AREA_SOLUCION_ESTATUS-->			
			<option value="{id_estatus}" class='data-option'>{estatus}</option>
			<!--AREA_SOLUCION_ESTATUS-->
		</select>
	</div>
	<div class="col-xs-12">
	    <label>Descripci&oacute;n</label>
	  	<textarea class="form-control" rows="2" id="descrip_area_solu" onkeypress="return valida(event,this,19,200);" onblur="valida2(this,19,200);"></textarea>
	</div>
	<input type="hidden" id="id_area_solu"/>
	<div class="col-xs-12" style="margin-top: 55px;">
		<div class="col-xs-3 margin-left15">
			<div id="save_form_area_solu" class="btn btn-registro btn-green margin-left15">Guardar</div>
			<div id="cancel_form_area_solu" class="btn btn-registro btn-green">Cancelar</div>
		</div>
		<div id="alert-area_solu" class="col-xs-9 hidden_auto"></div>
	</div>
</div>
