<div id="btn_tab_tipo_sol" class="btn btn-new-table btn-amarillo">Listado</div>
<div class="bar_forms color_bar_amarillo">TIPO DE SOLUCI&Oacute;N</div>
<div class="form-group">
	<div class="col-xs-6">
	    <label>Descripci&oacute;n</label>
	  	<input type="text" class="form-control margin-forms" id="desc_tipo_sol" name="desc_tipo_sol" onkeypress="return valida(event,this,19,35);" onblur="valida2(this,19,35);"/>
	</div>
	<div class="col-xs-2">
		<label>Estatus</label>
		<select id="estatus_tipo_sol" class="form-control margin-forms" >
			<option value="" selected="selected">...</option>
			<!--TIPOSOL_ESTATUS-->			
			<option value="{id_estatus}" class='data-option'>{estatus}</option>
			<!--TIPOSOL_ESTATUS-->
		</select>
	</div>
	<input type="hidden" id="id_tipo_sol" name="id_tipo_sol"/>
	<div class="col-xs-12" style="margin-top: 55px;">
		<div class="col-xs-3 margin-left15">
			<div id="guardar_tipo_sol" class="btn btn-registro btn-amarillo margin-left15">Guardar</div>
			<div id="cancelar_tipo_sol" class="btn btn-registro btn-amarillo">Cancelar</div>
		</div>
		<div id="alert-tipo-sol" class="col-xs-9 hidden_auto"></div>
	</div>
</div>