<div id="btn_tab_profile" class="btn btn-new-table btn-military">Listado</div>
<div class="bar_forms color_bar_military">PERFIL DE T&Eacute;CNICO</div>
<div class="form-group">
	<div class="col-xs-6">
	    <label>Perfil</label>
	  	<input type="text" class="form-control margin-forms" id="text_profile" onkeypress="return valida(event,this,17,35);" onblur="valida2(this,17,35);"/>
	</div>
	<div class="col-xs-2">
		<label>Estatus</label>
		<select id="profile_estatus" class="form-control margin-forms" >
			<option value="" selected="selected">...</option>
			<!--PROFILE_ESTATUS-->			
			<option value="{id_estatus}" class='data-option'>{estatus}</option>
			<!--PROFILE_ESTATUS-->
		</select>
	</div>
	<input type="hidden" id="id_profile"/>
	<div class="col-xs-12" style="margin-top: 55px;">
		<div class="col-xs-3 margin-left15">
			<div id="save_profile" class="btn btn-registro btn-military margin-left15">Guardar</div>
			<div id="cancel_profile" class="btn btn-registro btn-military">Cancelar</div>
		</div>
		<div id="alert-profile" class="col-xs-9 hidden_auto"></div>
	</div>
</div>
