<div id="btn_tab_depto" class="btn btn-new-table btn-purple">Listado</div>
<div class="bar_forms color_bar_purple">DEPARTAMENTOS</div>
<div class="form-group">
	<div class="col-xs-6">
	    <label>Departamento</label>
	  	<input type="text" class="form-control margin-forms" id="depto" onkeypress="return valida(event,this,19,70);" onblur="valida2(this,19,70);"/>
	</div>
	<div class="col-xs-2">
	    <label>Tlf.Principal</label>
	   	<input type="text" class="form-control margin-forms" id="tlf_prin_depto" onkeypress="return valida(event,this,10,15);" onblur="valida2(this,10,15);"/>
	</div>
	<div class="col-xs-2">
	    <label>Tlf.Principal</label>
	   	<input type="text" class="form-control margin-forms" id="tlf_alter_depto" onkeypress="return valida(event,this,10,15);" onblur="valida2(this,10,15);"/>
	</div>
	<div class="col-xs-2">
		<label>Estatus</label>
		<select id="depto_estatus" class="form-control margin-forms" >
			<option value="" selected="selected">...</option>
			<!--AREA_SOLUCION-->			
			<option value="{}" class='data-option'></option>
			<!--AREA_SOLUCION-->
		</select>
	</div>
	<input type="hidden" id="id_depto"/>
	<div class="col-xs-12" style="margin-top: 55px;">
		<div class="col-xs-3 margin-left15">
			<div id="save_form_depto" class="btn btn-registro btn-purple margin-left15">Guardar</div>
			<div id="cancel_form_depto" class="btn btn-registro btn-purple">Cancelar</div>
		</div>
		<div id="alert-depto" class="col-xs-9 hidden_auto"></div>
	</div>
</div>
