<table class="table table-striped">
	<div style="text-align: left; font-size: 16px; color: #317eac; font-weight: bold; padding: 10px 0 6px 10px;">AUDITORIA</div>
	<thead>
  		<tr class="color_border_green2">
			<th>#</th>
			<th>IP</th>
			<th>Usuario Sistema</th>
			<th>Fecha y Hora</th>
			<th>Proceso Ejecutado</th>
			<th>Tabla Afectada</th>
			<th>Id Campo tabla</th>
			<th>Descripcion Proceso</th>
		</tr>
	</thead>
	<tbody>
	<!--row_auditoria-->
		<tr>
			<td>{numero_audi}</td>
			<td>{ip}</td>
			<td>{usuario_sistema}</td>
			<td>{fecha_hora}</td>
			<td>{proceso_ejecutado}</td>
			<td>{tabla_afectada}</td>
			<td>{id_campo_tabla}</td>
			<td>{descripcion_proceso}</td>
		</tr>
	<!--row_auditoria-->	
	</tbody>
</table>
		<div role="toolbar">
			<button type="button" class="btn btn-auditoria pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
			<button type="button" class="btn btn-auditoria pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
			<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
			<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
			<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
			<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
		</div>

