  <!--row_menu-->
  <li id="{opmenu}" class="{clase_tabs}"><a href="{href}" class="opciones_menu" data-toggle="tab" >{titulo_p}</a></li>
  <!--row_menu-->
  <li id="opmenu_salir"><a href="#" class="opciones_menu" data-toggle="tab"><i class="fa fa-power-off"></i> Salir</a></li>