<div class="bar_forms color_bar_blue">PERMISOS</div>
<div class="form-group">
	<div class="col-xs-6">
	    <label>Seleccionar usuario</label>
		<select id="sel_usuario" class="form-control chosen" data-placeholder="..." >
			<option value=""></option>
			<!--USUARIO_PERMISO-->			
			<<option value="{id_tec}">{nom-ape}</option>
			<!--USUARIO_PERMISO-->			
		</select>
	</div>

	<div class="col-xs-6">
	    <label>Seleccionar pantalla</label>
		<select id="sel_pantalla" class="form-control margin-forms chosen" data-placeholder="..." >
			<option value=""></option>
			<!--PANTALLAS-->
			<option value="{id_pan}">{pan}</option>
			<!--PANTALLAS-->
		</select>
	</div>
	<div class="bar_check_acci">Acciones</div>
	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_todos" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Todos</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_buscar" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Buscar</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_incluir" name="chkequipo_{num_id}" data="{num_id}" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Incluir</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_modificar" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Modificar</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_eliminar" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Eliminar</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_acceso" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Acceso</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_imprimir" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Imprimir</span>
    	</label>
	</div>

	<div class="col-xs-3">
    	<label class="tasks-list-item"><input type="checkbox" rel="chkequipo" id="check_anular" value="" class="tasks-list-cb"/>
        	<span class="tasks-list-mark"></span>
        	<span class="tasks-list-desc">Anular</span>
    	</label>
	</div>

	<div class="col-xs-12" style="margin-top: 25px;">
		<div class="col-xs-3 margin-left15">
			<div id="save_form_permiso" class="btn btn-registro btn-blue margin-left15">Guardar</div>
			<div id="cancel_form_permiso" class="btn btn-registro btn-blue">Cancelar</div>
		</div>
		<div id="alert-permi" class="col-xs-9 hidden_auto"></div>
	</div>
</div>