<!--row_tec_apl-->
	<div id='contenedor_respuesta_apl' class=''>
		<hr>
		<div>
			<img class='imagen_us {clase_respuesta_apl}' src='{imagen_tec}'>
		</div>
		<div class="contenido_mensaje">	
			<div class='nombre_tec'>{nombre_tec}</div><div class="mensaje_accion">{accion_tecnico}</div>
			<div class='cuadro_descripcion_tec'>{descripcion_tec}</div>
			<label class='cuadro_datos_tec'>{datos_tec}</label>
		</div>	
	</div>
<!--row_tec_apl-->