
<table class="table table-striped">
	<div class="title-table">T&Eacute;CNICOS</div>
	<div id="btn_new_technicians" class="btn btn-new-table btn-red">Nuevo</div>
	<thead>
  		<tr class="color_border_red">
			<th>#</th>
			<th>C&eacute;dula</th>
	  		<th>Nombre y apellido</th>
	  		<th>Perfil</th>
	  		<th>Area de soluci&oacute;n</th>
	  		<th>Estatus</th>
 		</tr>
	</thead>
	<tbody>
		<!--ROW_TECNICOS-->
		<tr id="tab{i}" onclick="{fun}" data="{ced},{nom},{ape},{ema},{idp},{per},{ida},{are},{des},{idsta},{num}">
  			<th scope="row">{num}</th>
	  		<td>{ced}</td>
	  		<td>{nom} {ape}</td>
	  		<td>{per}</td>
	  		<td>{are}</td>
	  		<td>{sta}</td>
  		</tr>
  		<!--ROW_TECNICOS-->
	</tbody>
</table>

		<div role="toolbar">
			<button type="button" class="btn btn-crimson-red pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
			<button type="button" class="btn btn-crimson-red pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
			<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
			<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
			<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
			<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
		</div>
