<table class="table table-striped">
	<div class="title-table">DEPARTAMENTOS</div>
	<div id="btn_new_depto" class="btn btn-new-table btn-purple">Nuevo</div>
	<thead>
  		<tr class="color_border_purple">
			<th>#</th>
			<th>Departamento</th>
	  		<th>Tlf.Principal</th>
	  		<th>Tlf.Alternativo</th>
 		</tr>
	</thead>
	<tbody>
		<!--ROW_DEPARTAMENTO-->
		<tr id="are{i}" onclick="" data="{depto},{tlf1},{tlf2},{id}">
  			<th scope="row">{num}</th>
	  		<td>{depto}</td>
	  		<td>{tlf1}</td>
	  		<td>{tlf2}</td>
  		</tr>
		<!--ROW_DEPARTAMENTO-->
	</tbody>
</table>
<div role="toolbar">
	<button type="button" class="btn btn-purple-haze pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
	<button type="button" class="btn btn-purple-haze pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
	<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
	<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
	<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
	<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
</div>
