<table class="table table-striped">
	<div class="title-table">TIPO DE SOLUCI&Oacute;N</div>
	<div id="btn_new_tiposolu" class="btn btn-new-table btn-amarillo">Nuevo</div>
	<thead>
		<th>#</th>
		<th>Descripci&oacute;n</th>
		<th>Estatus</th>
	</thead>
	<tbody>
		<!--row_tiposol-->
		<tr  id="tiposol{i}" onclick="{fun}" data="{id},{descripcion_tipo_sol},{id_estatus}">
			<td>{id}</td>
			<td>{descripcion_tipo_sol}</td>
			<td>{estatus}</td>
		</tr>
		<!--row_tiposol-->
	</tbody>
</table>
<div role="toolbar">
	<button type="button" class="btn btn-amarillo pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
	<button type="button" class="btn btn-amarillo pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
	<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
	<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
	<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
	<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
</div>



