<table class="table table-striped">
	<div class="title-table">&Aacute;REAS DE SOLUCI&Oacute;N</div>
	<div id="btn_new_area_solu" class="btn btn-new-table btn-green">Nuevo</div>
	<thead>
  		<tr class="color_border_green">
			<th>#</th>
			<th>Nombre</th>
	  		<th>Descripci&oacute;n</th>
	  		<th>Tlf.Principal</th>
	  		<th>Tlf.Alternativo</th>
	  		<th>Estatus</th>
 		</tr>
	</thead>
	<tbody>
		<!--ROW_AREAS_SOLUCION2-->
		<tr id="are{i}" onclick="{fun}" data="{nom},{des},{tlf1},{tlf2},{id},{id_sta}">
  			<th scope="row">{num}</th>
	  		<td>{nom}</td>
	  		<td>{des}</td>
	  		<td>{tlf1}</td>
	  		<td>{tlf2}</td>
	  		<td>{sta}</td>
  		</tr>
		<!--ROW_AREAS_SOLUCION2-->
	</tbody>
</table>
<div role="toolbar">
	<button type="button" class="btn btn-green pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
	<button type="button" class="btn btn-green pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
	<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
	<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
	<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
	<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
</div>
