<table class="table table-striped">
	<div class="title-table">PERFIL DE T&Eacute;CNICO</div>
	<div id="btn_new_profile" class="btn btn-new-table btn-military">Nuevo</div>
	<thead>
  		<tr class="color_border_military">
			<th>#</th>
			<th>Perfil</th>
			<th>Estatus</th>
 		</tr>
	</thead>
	<tbody>
		<!--PERFIL_TECNICO-->
		<tr id="prof{i}" onclick="{fun}" data="{profile},{id_profile},{id_estatus}">
  			<th scope="row">{num}</th>
	  		<td>{profile}</td>
	  		<td>{estatus}</td>
  		</tr>
		<!--PERFIL_TECNICO-->
	</tbody>
</table>
	<div role="toolbar">
		<button type="button" class="btn btn-military pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
		<button type="button" class="btn btn-military pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
		<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
		<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
		<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
		<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
	</div>
