<!--<div id="contenedor_leyenda_g3" style="left">
	<div style="margin-top: 5px;">
		<div  style="border: solid #eee;background-color: #eee;color: #000;font-weight: bold; padding :1px;">T&eacute;cnico: {nombre_tecnico}</div>
		<div  style="border: solid #000 1px;">
			<div style="border-bottom: solid #000 1px;padding:1px;">
				<div style="font-weight: bold;">1.-Total Tiempo Respuesta Acumulado:</div>
				<div><span style="margin-left: 5px;padding: 1px;">{tiempo_resp_acum}</span></div>
			</div>
			<div style="padding:1px;">
				<div style="font-weight: bold;">2.-Total Promedio Tiempo Respuesta:</div>
				<div><span style="margin-left: 5px;padding: 1px;">{tiempo_prom_resp}</span></div>
			</div>
		</div>	
	</div>
	<div id="customers">
	    <table id="tab_customers" class="table table-striped">
	        <colgroup>
	            <col width="20%">
	                <col width="20%">
	                    <col width="20%">
	                        <col width="20%">
	        </colgroup>
	        <thead>
	            <tr class='warning'>
	                <th>Country</th>
	                <th>Population</th>
	                <th>Date</th>
	                <th>Age</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td>Chinna</td>
	                <td>1,363,480,000</td>
	                <td>March 24, 2014</td>
	                <td>19.1</td>
	            </tr>
	            <tr>
	                <td>India</td>
	                <td>1,241,900,000</td>
	                <td>March 24, 2014</td>
	                <td>17.4</td>
	            </tr>
	            <tr>
	                <td>United States</td>
	                <td>317,746,000</td>
	                <td>March 24, 2014</td>
	                <td>4.44</td>
	            </tr>
	            <tr>
	                <td>Indonesia</td>
	                <td>249,866,000</td>
	                <td>July 1, 2013</td>
	                <td>3.49</td>
	            </tr>
	            <tr>
	                <td>Brazil</td>
	                <td>201,032,714</td>
	                <td>July 1, 2013</td>
	                <td>2.81</td>
	            </tr>
	        </tbody>
	    </table>
	</div>
</div>-->
<div id="contenedor_leyenda_g3" style="left">

	<table class="table table-striped table-hover show">
		<colgroup>
			<col width="500px;">
		 	<col width="550px;">
			<col width="500px;">
		</colgroup>
		<thead class="titulos_tablas">
			<th style="text-align:center"> T&eacute;cnicos:</th>
			<th style="text-align:center">Total Tiempo Respuesta Acumulado</th>
			<th style="tex-align:center">Total Promedio Tiempo Respuesta</th>
		</thead>
		<tbody>
		<!--row_tabla_leyenda_g3-->
			<tr>
				<td style="text-align:center;font-size:13pt;">{nombre_tecnico}</td>
				<td style="text-align:center; font-size:17pt;font-weight:bold;">{tiempo_resp_acum}</td>
				<td style="text-align:center;"><span style="font-size:17pt;font-weight:bold;">{tiempo_prom_resp}</span><span style="font-size:17pt;">  ({n_tickets} Tickets)</td>
			</tr>
		<!--row_tabla_leyenda_g3-->
		</tbody>
	</table>
</div>