<h4>Tickets Asignados</h4>
<div class="cuerpo_scroll" id="grupo_ticket_asig">
<div class="{clase_tickets} alert alert-info"><i class="fa fa-exclamation-circle"></i> No hay tickets asignados</div>
	<!--row_sol_tickets-->
	<div class='contendor_mtecnico {clase_adm_tecnico} {clase_tabla}'>
		<hr>
		<div class="cuerpo_mensaje_sol">
			<img class='img_ticket_asig' src='{imagen_us_sol}'>
			<div class="contenido_mensaje3">
				<div class='nombre_ticket_asig'>{nombres_apellidos}</div><div class='mensaje_accion'>&nbspSolicit&oacute;:</div>
				<div class='desc_ticket_asig'><span class="titulosd_apl_asg">Ticket #{nticket}: </span>{descripcion2}</div>
				<div class='hora_tec_asig'>{fecha_hora_sol}</div>
			</div>
		</div>
		<div class='div_btn_sol'>{btn_operaciones}</div>
	</div>
	<!--row_sol_tickets-->	
</div>
<div role="toolbar">
	<div id="btn_pie">		
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
			<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
			<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
			<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
			<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
	</div>	
	<div id="mensaje_cierre_sol_ticket" name="mensaje_cierre_sol_ticket"></div>
</div>