<form id="form_crear_ticket" name="form_crear_ticket" class="form-horizontal">
<fieldset>
	<legend><h3>Cargar Ticket</h3></legend>
</fieldset>
	<div class="form-group">
		<div class="col-lg-12">
			<p id="mensaje_inicio">
				Siga los siguientes pasos para crear su ticket:
			</p>
		</div>
		<div class="col-lg-12">
			<p id="mensaje_inicio">
				1) Seleccione el tipo de solicitud que desea realizar <u>Ejem : Instalaci&oacute;n de Equipos.</u>
			</p>
			<select type="text"  class="form-control chosen" name="select_op_sol" id="select_op_sol" data-placeholder="--Seleccione un tipo de solicitud--">
				{opciones_sol}
			</select>
		</div>
		<div class="col-lg-12 mensaje_sol" >
			<p id="mensaje_inicio">
				2) Realice la descripci&oacute;n de su solicitud (Ticket) de manera explicita y concisa, a fin de que su necesidad sea entendida y atendida de la manera más eficaz e inmediata posible.
			</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-12">	
			<textarea id="descripcion_ticket" name="descripcion_ticket" class="form-control" row="6" onKeyPress="return valida(event,this,18,400);" onBlur="valida2(this,18,400);restar_caracteres('#descripcion_ticket','#mensaje_caracteres');"  onchange="restar_caracteres('#descripcion_ticket','#mensaje_caracteres');" placeholder="Ingrese aquí su solicitud de ticket, máximo 400 caracteres." maxlength="400" ></textarea>
		</div>
	</div>
	<div class="">
		<div class="col-lg-12">
			<span id="mensaje_caracteres" class="help-block">
				400
			</span>
		</div>	
	</div>
	<div class="form-group">
		<div class="btn_form">
			{btn_crearticket}
		</div>
		<div class="btn_mens_guard">
			<div id="mensaje_regticket" name="mensaje_regticket" role="alert">{mensaje_permisos}</div>
		</div>
	</div>
</form>	
