<h4>Apelaciones Asignadas</h4>
<div class="cuerpo_scroll" id="grupo_ticket_asig">
<div class="alert alert-info {clase_tickets}"><i class="fa fa-exclamation-circle"></i> No hay apelaciones asignadas</div>
	<!--row_sol_apelaciones-->
	<div class='contendor_mtecnico {clase_adm_tecnico} {clase_tabla}'>
		<hr>
		<div id="cuerpo_apel">
			<div class="cuerpo_apel_asig">
				<div class='desc_ticket_apel'><span class="titulosd_apl_asg">Ticket #{nticket}: </span>{descripcion_ticket}</div>
				<div class='desc_ticket_apel2'><span class="titulosd_apl_asg">Apelacion #{napel}: </span>{descripcion_apelacion}</div>
				<div class='hora_ticket_apel'>{fecha_hora_apel}</div>
			</div>	
			<div id="btn_apl_sol">
				<div>{btn_operaciones}</div>
			</div>
		</div>	
	</div>
	<!--row_sol_apelaciones-->	
</div>
<div role="toolbar">
	<div id="btn_pie">
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
			<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
			<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
			<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
			<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
	</div>
	<div id="mensaje_cierre_sol_apel" name="mensaje_cierre_sol_apel"></div>			
</div>
