<form id="form_sugerencias" name="form_sugerencias" class="form-horizontal">
<fieldset>
	<legend><h3>Sugerencias</h3></legend>
</fieldset>
	<div class="form-group">
		<div class="col-lg-12">
			<p id="mensaje_inicio_sugerencias">
				Realice la descripción de posibles sugerencias presentes en el uso y aplicaci&oacute;n del sistema de helpdesk.
			</p>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-12">	
			<textarea id="descripcion_sugerencia" name="descripcion_sugerencia" class="form-control" row="6" onKeyPress="return valida(event,this,18,400);" onBlur="valida2(this,18,400);restar_caracteres('#descripcion_sugerencia','#mensaje_caracteres_sug');" onchange="restar_caracteres('#descripcion_sugerencia','#mensaje_caracteres_sug');" placeholder="Ingrese aquí su sugerencia, máximo 400 caracteres." maxlength="400"></textarea>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-12">
			<span id="mensaje_caracteres_sug" class="help-block">
				400
			</span>
		</div>	
	</div>
	<div class="form-group">
		<div class="btn_form">
			{btn_guardar_sugerencia}			
		</div>
		<div class="btn_mens_guard2">
			<div id="mensaje_regsugerencias" name="mensaje_regsugerencias" role="alert">{mensaje_permisos}</div>
		</div>
</form>	
