<script src='{url_server_js}perfect-scrollbar.js' type='text/javascript'></script>
<script src='{url_server_js}perfect-scrollbar.jquery.js' type='text/javascript'></script>
<link href='{url_server_css}perfect-scrollbar.css' type='text/css' rel='stylesheet' />
<style>
#content-menu{width:120px; float:left; padding-top: 10px; height: 460px; overflow: auto; border-right:2px solid #cc4b4b; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease; margin-left: 30px}
.arrow-forms{width: 0; height: 0;  -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); transform: rotate(-90deg); border-left: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid #cc4b4b; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease; float: right; margin-right: -10px;}
#content-forms:after{clear:both;}
.options-circles{width:90px; height:90px; background-color:gray; border-radius: 50%; cursor: pointer; -webkit-box-sizing:border-box; text-align: center; margin-bottom: 30px;}
.options-circles:last-child{margin-bottom:0px;}
.options-circles-technicians:active{border:4px solid #9b0909;}
.options-circles-audits:active{border:4px solid #002933;}
.options-circles-area:active{border:4px solid #1abc9c;}
.options-circles-department:active{border:4px solid #2d3a5c;}
.options-circles-profile:active{border:4px solid #3a5c2d;}
.options-circles-permissions:active{border:4px solid #1c3e7e;}
.options-circles-tiposol:active{border:4px solid #bd9406;}
.options-circles i{font-size:50px; line-height: 90px; color:white;}
#content-admin-sistema{padding:20px; overflow: hidden;height: 460px;}
#technicians{background:#cc4b4b;}
#audits{background:#005f76;}
#permissions{background:#4a6fb5;}
#area_solu{background: #1abc9c;}
#department{background: #455479;}
#profile{background: #547945;}
#tiposol{background: #f9b966;}
.options-circles-technicians-active{border:4px solid #9b0909;}
.options-circles-audits-active{border:4px solid #002933;}
.options-circles-permissions-active{border:4px solid #1c3e7e;}
.options-circles-area-active{border:4px solid #16987b;}
.options-circles-department-active{border:4px solid #2d3a5c;}
.options-circles-profile-active{border:4px solid #3a5c2d;}
.options-circles-tiposol-active{border:4px solid #bd9406;}
.table-forms{width: 100%; float:left;  min-height:380px;}
.color_border_red {border-bottom: 2px solid #cc4b4b; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease;}
.color_border_green {border-bottom: 2px solid #1abc9c; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease;}
.color_border_green2 {border-bottom: 2px solid #005f76; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease;}
.color_border_blue {border-bottom: 2px solid #4a6fb5; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease;}
.color_border_purple {border-bottom: 2px solid #455479; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease;}
.color_border_military {border-bottom: 2px solid #547945; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease;}
.title-table{text-align: left; font-size: 16px; color: #317eac; font-weight: bold; position: absolute; margin:10px;}
.btn-new-table{float: right; -webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease; margin-left: 5px;}
.btn-registro{-webkit-transition:All 0.5s ease; -moz-transition:All 0.5s ease; transition:All 0.5s ease; margin-left: 5px;}
.btn-red{background: #cc4b4b; color: #fff; border: 1px solid #9b0909;}
.btn-green{background: #1abc9c; color: #fff; border: 1px solid #16987b;}
.btn-green2{background: #1abc9c; color: #fff; border: 1px solid #005f76;}
.btn-blue{background: #4a6fb5; color: #fff; border: 1px solid #1c3e7e;}
.btn-purple{background: #455479; color: #fff; border: 1px solid #2d3a5c;}
.btn-military{background: #547945; color: #fff; border: 1px solid #3a5c2d;}
.btn-auditoria{ background:#005f76; color:#fff; border: 1px solid #005f76;}
.nuw{width: 5px;}
.caja_text_forms{width: 100%; float:left;  min-height:380px; display: none;}
.margin-forms{margin-bottom:10px;}
.bar_forms{text-align: left; font-size: 16px; color: #317eac; font-weight: bold; padding: 10px 0 42px 10px; margin-bottom: 20px;}
.color_bar_red{border-bottom:2px solid #cc4b4b;}
.color_bar_green{border-bottom:2px solid #1abc9c;}
.color_bar_green2{border-bottom:2px solid #005f76;}
.color_bar_blue{border-bottom:2px solid #4a6fb5;}
.color_bar_purple{border-bottom:2px solid #455479;}
.color_bar_military{border-bottom:2px solid #547945;}
.color_bar_amarillo{border-bottom:2px solid #f9b966; }

.bar_forms_perm{border-bottom:2px solid #4a6fb5; text-align: left; font-size: 16px; color: #6f6f6f; font-weight: bold; padding: 10px 0 42px 10px; margin-bottom: 20px;}
.bar_check_acci{border-bottom: 2px solid #4a6fb5; margin: 0 0 5px 0; text-align: left; padding: 5px 5px 5px 10px; font-size: 16px; font-weight: bold;}
.alert-dou{padding: 8px; width: 108%}
.descrip{width: 100%; height:60; overflow: hidden;}
.btn-alert{margin-left: -5px; position: relative; top: 14px;}
.color-descrip{color:#8f8f8f;}
.display-none{display: none;}
.margin-left15{margin-left: -15px;}

</style>
<script>
/*--------BOTONES ADMIN_SISTEMA----------*/
$(function(){
	$(".options-circles").on("click",function(){
		$(".options-circles").removeClass("options-circles-technicians-active").removeClass("options-circles-audits-active").removeClass("options-circles-permissions-active").removeClass("options-circles-area-active").removeClass("options-circles-department-active").removeClass("options-circles-profile-active").removeClass("options-circles-tiposol-active");
		if($(this).attr("id") == "technicians"){
			$(this).addClass("options-circles-technicians-active");
			$("#text_hidden_scroll").val("technicians,#cc4b4b");
		}
		if($(this).attr("id") == "audits"){
			$(this).addClass("options-circles-audits-active");
			$("#text_hidden_scroll").val("audits");
		}
		if($(this).attr("id") == "permissions"){
			$(this).addClass("options-circles-permissions-active");
			$("#text_hidden_scroll").val("permissions,#4a6fb5");
		}
		if($(this).attr("id") == "area_solu"){
			$(this).addClass("options-circles-area-active");
			$("#text_hidden_scroll").val("area_solu,#1abc9c");
		}
		if($(this).attr("id") == "department"){
			$(this).addClass("options-circles-department-active");
			$("#text_hidden_scroll").val("department,#455479");
		}
		if($(this).attr("id") == "profile"){
			$(this).addClass("options-circles-profile-active");
			$("#text_hidden_scroll").val("profile,#547945");
		}
		if($(this).attr("id") == "tiposol"){
			$(this).addClass("options-circles-tiposol-active");
			$("#text_hidden_scroll").val("tiposol,#547945");
		}
	});
});
/*--------FUNCION REFERENTE TABLA TECNICOS ----------*/
function tabla_technicians(numero){
	if($("#tab"+numero).on("click")){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		$("#tab_tex_hidden").val("actualizar");
		var datos_tec = $("#tab"+numero).attr("data");
		var datos = datos_tec.split(",");
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_tecnico"},
			cache : false,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
			$("#cedtec").val(datos[0]);
			$("#nomtec").val(datos[1]);
			$("#apetec").val(datos[2]);
			$("#ematec").val(datos[3]);
			$("#perftec").val(datos[4]);
			$("#solutec").val(datos[6]);
			$("#descrip").html(datos[8]);
			$("#tec_estatus").val(datos[9]);
			$("#idtec").val(datos[10]);
		});
	}
}
/*--------FUNCION REFERENTE TABLA AREAS SOLUCION ----------*/
function tabla_areas_solucion(numero){
	if($("#are"+numero).on("click")){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		$("#tab_tex_hidden").val("actualizar");
		var datos_are = $("#are"+numero).attr("data");
		var datos = datos_are.split(",");
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_area_solu"},
			cache : false,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
			$("#nom_area_solu").val(datos[0]);
			$("#descrip_area_solu").val(datos[1])
			$("#tlf_prin_area_solu").val(datos[2]);
			$("#tlf_alter_area_solu").val(datos[3]);
			$("#id_area_solu").val(datos[4]);
			$("#area_solu_estatus").val(datos[5]);
		});
	}
}

function tabla_departamentos(numero){
	if($("#are"+numero).on("click")){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		$("#tab_tex_hidden").val("actualizar");
		var datos_depto = $("#are"+numero).attr("data");
		var datos = datos_depto.split(",");
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_depto"},
			cache : false,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
			$("#depto").val(datos[0]);
			$("#tlf_prin_depto").val(datos[1]);
			$("#tlf_alter_depto").val(datos[2]);
			$("#id_depto").val(datos[3]);
		});
	}
}

function tabla_profile(numero){
	if($("#prof"+numero).on("click")){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		$("#tab_tex_hidden").val("actualizar");
		var datos_prof = $("#prof"+numero).attr("data");
		var datos = datos_prof.split(",");
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_profile"},
			cache : false,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
			$("#text_profile").val(datos[0]);
			$("#id_profile").val(datos[1]);
			$("#profile_estatus").val(datos[2]);
		});
	}
}
//------------FUNCION REFERENTE TABLA TIPO SOLUCION------------------
function tabla_tiposol(numero){
	if($("#tiposol"+numero).on("click")){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		$("#tab_tex_hidden").val("actualizar");
		var datos_tipos = $("#tiposol"+numero).attr("data");
		var datos_tipos = datos_tipos.split(",");
		//--
		//Cargo el formulario....
		$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"adminSistema", "letrametodo":"forms_tipo_sol" },
				cache: false,
				statusCode:{
					404: function(){
						alert("Link roto");
					}
				}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
			$("#id_tipo_sol").val(datos_tipos[0]);
			$("#desc_tipo_sol").val(datos_tipos[1]);
			$("#estatus_tipo_sol").val(datos_tipos[2]);
		});
		//--		
	}
}
//-------------------------------------------------------------
$(document).ready(function(){

	function position_btn_admin(){
		var scroll_hidden = $("#text_hidden_scroll").val();
		var dat = scroll_hidden.split(",");

		var position = $("#"+dat[0]).position();
		$(".arrow-forms").css({"margin-top":(position.top + 25)+"px","border-bottom":"20px solid "+dat[1]});

	}

/*	$("#content-menu").on("scroll",function(){
	});*/


/*--------INICIO AL MODULO DE REGISTRO Y ACTUALIZACION DE TECNICOS ----------*/

	$('#content-menu').perfectScrollbar();

	$("#technicians").on("click",function(){
		$("#caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#content-menu").css({"border-right":"2px solid #cc4b4b"});
		$(".arrow-forms").css({"margin-top":"35px","border-bottom":"20px solid #cc4b4b"});
		carga_technicians(0,0,8,0);
	});

	$(document).on("click","#btn_new_technicians",function(){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		cancel_tec();
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true,"letracontrol":"adminSistema","letrametodo":"forms_tecnico"},
			cache : false,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			//alert(resp);
			$("#caja_text_forms").html(resp);
		});
	});

	$(document).on("click","#btn_tab_technicians",function(){
		$(".caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#technicians").click();
	});

	$(document).on("change","#solutec",function(){
		if($("#solutec").val() == "" ){
			$("#descrip").html("");
		}
		var val = $(this).val();
		$("#solutec > option").each(function(){
			if($(this).val() == val){
				$("#descrip").html($(this).attr("data"));
				return false;
			}
		});
	});

	function fin_alerta(){
		setTimeout(function(){
			$(".hidden_auto").css({"display":"none"});
		}, 3000);
	}

	$(document).on("click","#save_form_tec",function(e){
		//--
		e.preventDefault();
		e.stopImmediatePropagation();
		//--
		if($("#cedtec").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo C&eacute;dula.</div>").css({"display":"block"});
			fin_alerta();
			$("#cedtec").focus();
		}else if($("#nomtec").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Nombres.</div>").css({"display":"block"});
			fin_alerta();
			$("#nomtec").focus();
		}else if($("#apetec").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Apellidos.</div>").css({"display":"block"});
			fin_alerta();
			$("#apetec").focus();
		}else if($("#perftec").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Perfil de tecnico.</div>").css({"display":"block"});
			fin_alerta();
			$("#perftec").focus();
		}else if($("#ematec").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores al campo correo .</div>").css({"display":"block"});
			fin_alerta();
		}else if($("#solutec").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Area de soluci&oacute;n.</div>").css({"display":"block"});
			fin_alerta();
			$("#solutec").focus();
		}else if($("#tec_estatus").val() == ""){
			$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese el estatus del tecnico.</div>").css({"display":"block"});
			fin_alerta();
			$("#tec_estatus").focus();
		}else{
			if($("#tab_tex_hidden").val() == "insertar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true,"letracontrol":"adminSistema","letrametodo":"ins_tecnicos","cedtec":$("#cedtec").val(),"nomtec":$("#nomtec").val(),"apetec":$("#apetec").val(),"ematec":$("#ematec").val(),"perftec":$("#perftec").val(),"solutec":$("#solutec").val(),"descrip":$("#descrip").html(),"tec_est":$("#tec_estatus").val(),"idtec":$("#idtec").val()},	
					cache:false,
					async:true,			
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_tec();
					//--
					if(resp == 1){
						$("#alert-tec").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> El registro de &eacute;ste usuario fue realizado con exito.</div>").css({"display":"block"});
						fin_alerta();
					}
					else if( resp == 0){
						$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La c&eacute;dula del t&eacute;cnico que intenta registrar ya se encuentra almacenada para otro t&eacute;cnico.</div>").css({"display":"block"});
						fin_alerta();
					}
					else{
						$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}else if($("#tab_tex_hidden").val() == "actualizar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true,"letracontrol":"adminSistema","letrametodo":"act_tecnicos","cedtec":$("#cedtec").val(),"nomtec":$("#nomtec").val(),"apetec":$("#apetec").val(),"ematec":$("#ematec").val(),"perftec":$("#perftec").val(),"solutec":$("#solutec").val(),"descrip":$("#descrip").html(),"tec_est":$("#tec_estatus").val(),"idtec":$("#idtec").val()},
					cache:false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_tec();
					if(resp == 1){
						$("#alert-tec").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La actualizaci&oacute;n de &eacute;ste usuario fue realizada con exito.</div>").css({"display":"block"});
						fin_alerta();
					}
					else if(resp == 0){
						$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La c&eacute;dula del t&eacute;cnico que intenta registrar ya se encuentra almacenada para otro t&eacute;cnico.</div>").css({"display":"block"});
						fin_alerta();
					}
					else{
						$("#alert-tec").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurri&oacute; un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}
		}
	});

	function cancel_tec(){
		$("#cedtec,#nomtec,#apetec,#ematec,#perftec,#solutec,#tec_estatus,#idtec").val("");
		$("#tab_tex_hidden").val("insertar");
		$("#descrip").html("");
	}

	$(document).on("click","#cancel_form_tec",function(){
		cancel_tec();
	});
/*--------FIN AL MODULO DE REGISTRO Y ACTUALIZACION DE TECNICOS ----------*/

/*--------INICIO AL MODULO DE AREA_SOLUCION ------------------*/
	$("#area_solu").on("click",function(){
		$("#caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#content-menu").css({"border-right":"2px solid #1abc9c"});
		$(".arrow-forms").css({"margin-top":"157px","border-bottom":"20px solid #1abc9c"});
		carga_area_solu(0,0,6,0);
	});

	$(document).on("click","#btn_new_area_solu",function(){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		cancel_area_solu();
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_area_solu"},
			cache : false,
			async:true,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
		});
	});

	$(document).on("click","#btn_tab_area_solu",function(){
		$(".caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#area_solu").click();
	});

	$(document).on("click","#save_form_area_solu",function(e){
		//--
		e.preventDefault();
		e.stopImmediatePropagation();
		//--

		if($("#nom_area_solu").val() == ""){
			$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Nombre.</div>").css({"display":"block"});
			fin_alerta();
			$("#nom_area_solu").focus();
		}else if($("#tlf_prin_area_solu").val() == ""){
			$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Tlf.Principal.</div>").css({"display":"block"});
			fin_alerta();
			$("#tlf_prin_area_solu").focus();
		}else if($("#area_solu_estatus").val() == ""){
			$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese el estatus del area de soluci&oacute;n.</div>").css({"display":"block"});
			fin_alerta();
			$("#area_solu_estatus").focus();
		}else{
			if($("#tab_tex_hidden").val() == "insertar"){		
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"ins_area_solu","nom_area_solu":$("#nom_area_solu").val(),"descrip_area_solu":$("#descrip_area_solu").val(),"tlf_prin_area_solu":$("#tlf_prin_area_solu").val(),"tlf_alter_area_solu":$("#tlf_alter_area_solu").val(),"area_solu_estatus":$("#area_solu_estatus").val()},
					cache : false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_area_solu();
					//alert(resp);
					if(resp==1){
						$("#alert-area_solu").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> El registro de &eacute;sta &aacute;rea fue realizada con exito.</div>").css({"display":"block"});
						fin_alerta();
					}else
					if(resp==0){
						$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurri&oacute; un error, el nombre del &aacute;rea ya se encuentra usado para otro registro .</div>").css({"display":"block"});
						fin_alerta();
					}
					else{
						$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}else if($("#tab_tex_hidden").val() == "actualizar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"act_area_solu","nom_area_solu":$("#nom_area_solu").val(),"descrip_area_solu":$("#descrip_area_solu").val(),"tlf_prin_area_solu":$("#tlf_prin_area_solu").val(),"tlf_alter_area_solu":$("#tlf_alter_area_solu").val(),"id_area_solu":$("#id_area_solu").val(),"area_solu_estatus":$("#area_solu_estatus").val()},
					cache : false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_area_solu();
					if(resp==1){
						$("#alert-area_solu").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La actualizaci&oacute;n de &eacute;sta &Aacute;rea fue realizada con exito.</div>").css({"display":"block"});
						fin_alerta();
					}
					else if(resp==0){
						$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurri&oacute; un error, el nombre del &aacute;rea ya se encuentra usado para otro registro.</div>").css({"display":"block"});
						fin_alerta();
					}
					else{
						$("#alert-area_solu").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}
		}
	});


	function cancel_area_solu(){
		$("#nom_area_solu,#descrip_area_solu,#tlf_prin_area_solu,#tlf_alter_area_solu,#id_area_solu,#area_solu_estatus").val("");
		$("#tab_tex_hidden").val("insertar");
	}

	$(document).on("click","#cancel_form_area_solu",function(){
		cancel_area_solu();
	});
/*--------FIN AL MODULO DE AREA_SOLUCION ------------------*/
/*--------INICIO AL MODULO DE TIPO DE SOLUCION--------------*/
//-Desarrollado por Gs21102015.
//-Cuerpo de eventos
$("#tiposol").on("click",function(){
	$("#caja_text_forms").css({"display":"none"});
	$("#table-forms").css({"display":"block"});
	$("#content-menu").css({"border-right":"2px solid #fac887"});
	$(".arrow-forms").css({"margin-top":"280px","border-bottom":"20px solid #fac076"});
	carga_tipo_sol(0,0,7,0);
});
$(document).on("click","#btn_new_tiposolu",function(){
	$("#table-forms").css({"display":"none"});
	$(".caja_text_forms").css({"display":"block"});
	cancel_tipo_solu();
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"adminSistema", "letrametodo":"forms_tipo_sol" },
				cache: false,
				statusCode:{
					404: function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		$("#caja_text_forms").html(resp);
	});
});

$(document).on("click","#btn_tab_tipo_sol",function(){
		$(".caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#tiposol").click();
	});

$(document).on("click","#guardar_tipo_sol", function(e){
	e.preventDefault();
	e.stopImmediatePropagation();
	if (validar_tipo_sol()== true){
		//--*
		var desc_tipo_sol = $("#desc_tipo_sol").val();
		var estatus_tipo_sol = $("#estatus_tipo_sol").val();
		var id_tipo_sol = $("#id_tipo_sol").val();
		//--*
		var datos =[desc_tipo_sol,estatus_tipo_sol,id_tipo_sol];
		$.ajax({
					type:"POST",
					url :"{url_server_name}",
					data:{"letrajax":true, "letracontrol":"adminSistema","letrametodo":"ins_tipo_sol", valores: datos},
					cache:false,
					statusCode:{
						404:function(){
							alert("Link roto");
						}
					}
		}).done(function(resp){
			if(resp == 1){
				$("#alert-tipo-sol").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> El registro de &eacute;ste tipo de solicitud fue realizado con exito.</div>").css({"display":"block"});
					fin_alerta();
			}else
			if(resp == 0){
				$("#alert-tipo-sol").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurri&oacute; un error, el tipo de solucitud ya se encuentra usado para otro registro.</div>").css({"display":"block"});
					fin_alerta();
			}else{
				$("#alert-tipo-sol").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
			}
			cancel_tipo_solu();
		});
	}
});
$(document).on("click","#cancelar_tipo_sol", function(){
	cancel_tipo_solu();
})
//-Cuerpo de funciones
function validar_tipo_sol(){
	if($("#desc_tipo_sol").val()==""){
		$("#alert-tipo-sol").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese informaci&oacute;n en el campo Descripci&oacute;n.</div>").css({"display":"block"});
		$("#desc_tipo_sol").focus();
		fin_alerta();
		return false;
	}else
	if(($("#estatus_tipo_sol").val()=="")||($("#estatus_tipo_sol").val()=="0")){
		$("#alert-tipo-sol").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Seleccione un estatus.</div>").css({"display":"block"});
		$("#estatus_tipo_sol").focus();
		fin_alerta();
		return false;
	}else
	{
		return true;
	}
}
function cancel_tipo_solu(){
	$("#desc_tipo_sol,#id_tipo_sol,#estatus_tipo_sol").val("");
}

/*--------FIN AL MODULO DE TIPO DE SOLUCION-----------------*/
/*--------INICIO AL MODULO DE DEPARTAMENTO ------------------*/
	$("#department").on("click",function(){
		$("#caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#content-menu").css({"border-right":"2px solid #455479"});
		$(".arrow-forms").css({"margin-top":"400px","border-bottom":"20px solid #455479"});
		carga_department(0,0,7,0);
	});

	$(document).on("click","#btn_new_depto",function(){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		cancel_area_solu();
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_depto"},
			cache : false,
			async:true,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
		});
	});

	$(document).on("click","#btn_tab_depto",function(){
		$(".caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#department").click();
	});	

	$(document).on("click","#save_form_depto",function(e){
		//--
		e.preventDefault();
		e.stopImmediatePropagation();
		//--
		if($("#depto").val() == ""){
			$("#alert-depto").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Departamento.</div>").css({"display":"block"});
			fin_alerta();
			$("#depto").focus();
		}else if($("#tlf_prin_depto").val() == ""){
			$("#alert-depto").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Tlf.Principal.</div>").css({"display":"block"});
			fin_alerta();
			$("#tlf_prin_depto").focus();
		}else{
			if($("#tab_tex_hidden").val() == "insertar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"ins_depto","depto":$("#depto").val(),"tlf_prin_depto":$("#tlf_prin_depto").val(),"tlf_alter_depto":$("#tlf_alter_depto").val()},
					cache : false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_depto();
					if(resp == 1){
						$("#alert-depto").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> El registro de &eacute;ste Departamento fue realizado con exito.</div>").css({"display":"block"});
						fin_alerta();
					}else{
						$("#alert-depto").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});

			}else if($("#tab_tex_hidden").val() == "actualizar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"act_depto","depto":$("#depto").val(),"tlf_prin_depto":$("#tlf_prin_depto").val(),"tlf_alter_depto":$("#tlf_alter_depto").val(),"id_depto":$("#id_depto").val()},
					cache : false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_depto();
					if(resp == 1){
						$("#alert-depto").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La actualizaci&oacute;n de &eacute;ste Deparatamento fue realizada con exito.</div>").css({"display":"block"});
						fin_alerta();
					}else{
						$("#alert-depto").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}
		}
	});

	function cancel_depto(){
		$("#depto,#tlf_prin_depto,#tlf_alter_depto,#id_depto").val("");
		$("#tab_tex_hidden").val("insertar");		
	}

	$(document).on("click","#cancel_form_depto",function(){
		cancel_depto();
	});

/*--------FIN AL MODULO DE DEPARTAMENTO ------------------*/
/*--------INICIO AL MODULO DE PERFIL TECNICO ------------------*/
	$("#profile").on("click",function(){
		$("#caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#content-menu").css({"border-right":"2px solid #547945"});
		//$(".arrow-forms").css({"margin-top":"277px","border-bottom":"20px solid #547945"});
		//Mod gs:20102015
		$(".arrow-forms").css({"margin-top":"520px","border-bottom":"20px solid #547945"});
		carga_profile(0,0,7,0);
	});

	$(document).on("click","#btn_new_profile",function(){
		$("#table-forms").css({"display":"none"});
		$(".caja_text_forms").css({"display":"block"});
		cancel_profile();
		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"forms_profile"},
			cache : false,
			async:true,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
		});
	});

	$(document).on("click","#save_profile",function(e){
		//--
		e.preventDefault();
		e.stopImmediatePropagation();
		//--
		if($("#text_profile").val() == ""){
			$("#alert-profile").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese valores a el campo Perfil.</div>").css({"display":"block"});
			fin_alerta();
			$("#text_profile").focus();
		}else if($("#profile_estatus").val() == ""){
			$("#alert-profile").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ingrese el estatus del Perfil.</div>").css({"display":"block"});
			fin_alerta();
			$("#profile_estatus").focus();
		}else{
			if($("#tab_tex_hidden").val() == "insertar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"ins_profile","profile":$("#text_profile").val(),"profile_estatus":$("#profile_estatus").val()},
					cache : false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_profile();
					if(resp==1){
						$("#alert-profile").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> El registro de &eacute;ste Perfil fue realizado con exito.</div>").css({"display":"block"});
						fin_alerta();
					}
					else if(resp==0){
						$("#alert-profile").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurri&oacute; un error, el nombre del perfil ya se encuentra usado para otro registro.</div>").css({"display":"block"});
						fin_alerta();
					}
					else{
						$("#alert-profile").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}else if($("#tab_tex_hidden").val() == "actualizar"){
				$.ajax({
					type : "POST",
					url : "{url_server_name}",
					data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"act_profile","profile":$("#text_profile").val(),"id_profile":$("#id_profile").val(),"profile_estatus":$("#profile_estatus").val()},
					cache : false,
					async:true,
					statusCode : {
						404 : function(){
							alert("link roto")
						}
					}
				}).done(function(resp){
					cancel_profile();
					if(resp==1){
						$("#alert-profile").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La actualizaci&oacute;n de &eacute;ste Perfil fue realizada con exito.</div>").css({"display":"block"});
						fin_alerta();
					}
					else if(resp==0){
						$("#alert-profile").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurri&oacute; un error, el nombre del perfil ya se encuentra usado para otro registro.</div>").css({"display":"block"});
						fin_alerta();
					}
					else{
						$("#alert-profile").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
						fin_alerta();
					}
				});
			}
		}
	});


	function cancel_profile(){
		$("#text_profile,#id_profile,#profile_estatus").val("");
		$("#tab_tex_hidden").val("insertar");		
	}

	$(document).on("click","#btn_tab_profile",function(){
		$(".caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#profile").click();		
	});

	$(document).on("click","#cancel_profile",function(){
		cancel_profile();
	});
/*--------FIN AL MODULO DE PERFIL TECNICO ------------------*/
/*--------INICIO AL MODULO DE PERMISOS DE TECNICOS ----------*/
//--
	$("#permissions").on("click",function(){
		$("#table-forms").css({"display":"none"});
		$("#caja_text_forms").css({"display":"block"});
		$("#content-menu").css({"border-right":"2px solid #4a6fb5"});
		//$(".arrow-forms").css({"margin-top":"398px","border-bottom":"20px solid #4a6fb5"});
		//Mod gs:20102015
		$(".arrow-forms").css({"margin-top":"640px","border-bottom":"20px solid #4a6fb5"});

		$.ajax({
			type : "POST",
			url : "{url_server_name}",
			data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"permissions"},
			cache : false,
			async:true,
			statusCode : {
				404 : function(){
					alert("link roto")
				}
			}
		}).done(function(resp){
			$("#caja_text_forms").html(resp);
			//--Activo chosen 
			$('.chosen').chosen({
		    	no_results_text: "No hemos encontrado resultados!",
				allow_single_deselect: true
			});
			if($("#sel_usuario").val()){
				$('#sel_usuario').trigger("chosen:updated");			
			}
			if($("#sel_pantalla").val()){
				$('#sel_pantalla').trigger("chosen:updated");			
			}
		});
	});

	$(document).on("click","#check_todos",function(){
		if($("#check_todos").is(":checked")){
			$("#check_buscar,#check_incluir,#check_modificar,#check_eliminar,#check_acceso,#check_imprimir,#check_anular").prop("checked", true);
		}else{
			$("#check_buscar,#check_incluir,#check_modificar,#check_eliminar,#check_acceso,#check_imprimir,#check_anular").prop("checked", false);
		}
	});

	function check_permisos(){
		if($("#check_buscar").is(":checked")){
			$("#check_buscar").val(true);
		}else{
			$("#check_buscar").val(false);			
		}		

		if($("#check_incluir").is(":checked")){
			$("#check_incluir").val(true);
		}else{
			$("#check_incluir").val(false);			
		}		

		if($("#check_modificar").is(":checked")){
			$("#check_modificar").val(true);
		}else{
			$("#check_modificar").val(false);			
		}

		if($("#check_eliminar").is(":checked")){
			$("#check_eliminar").val(true);
		}else{
			$("#check_eliminar").val(false);			
		}		

		if($("#check_acceso").is(":checked")){
			$("#check_acceso").val(true);
		}else{
			$("#check_acceso").val(false);			
		}		

		if($("#check_imprimir").is(":checked")){
			$("#check_imprimir").val(true);
		}else{
			$("#check_imprimir").val(false);			
		}		

		if($("#check_anular").is(":checked")){
			$("#check_anular").val(true);
		}else{
			$("#check_anular").val(false);			
		}		
	}

	$(document).on("click","#save_form_permiso",function(e){
		//--
		e.preventDefault();
		e.stopImmediatePropagation();
		//--
		if($("#sel_usuario").val() == ""){
			$("#alert-permi").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Para poder asignar permisos seleccione un Usario</div>").css({"display":"block"});
			fin_alerta();
			$("#sel_usuario").focus();
		}else if($("#sel_pantalla").val() == ""){
			$("#alert-permi").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Para poder asignar permisos seleccione una pantalla</div>").css({"display":"block"});
			fin_alerta();
			$("#sel_pantalla").focus();
		}else{
			check_permisos();
			$.ajax({
				type : "POST",
				url : "{url_server_name}",
				data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"save_permisos","pan_permi":$("#sel_pantalla").val(),"usu_permi":$("#sel_usuario").val(),"bus_permi":$("#check_buscar").val(),"inc_permi":$("#check_incluir").val(),"mod_permi":$("#check_modificar").val(),"eli_permi":$("#check_eliminar").val(),"acc_permi":$("#check_acceso").val(),"imp_permi":$("#check_imprimir").val(),"anu_permi":$("#check_anular").val()},
				cache : false,
				statusCode : {
					404 : function(){
						alert("link roto")
					}
				}
			}).done(function(resp){
				cancel_permi()
				if(resp == 1){
					$("#alert-permi").html("<div class='show alert alert-success alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> La actualizaci&oacute;n de &eacute;ste usuario fue realizada con exito.</div>").css({"display":"block"});
					fin_alerta();
				}else{
					$("#alert-permi").html("<div class='show alert alert-danger alert-dou' role='alert'><i class='fa fa-exclamation-circle'></i> Ocurrio un error, comuniquese con el departamento de tecnolog&iacute;a.</div>").css({"display":"block"});
					fin_alerta();
				}
			});
		}
	});
	
	$(document).on("change","#sel_pantalla,#sel_usuario",function(){
		if($("#sel_pantalla").val() != "" && $("#sel_usuario").val() != "") {
			$.ajax({
				type : "POST",
				url : "{url_server_name}",
				data : {"letrajax":true," letracontrol":"adminSistema","letrametodo":"selec_panatalla_permisos","usu_permi":$("#sel_usuario").val(),"pan_permi":$("#sel_pantalla").val()},
				cache : false,
				statusCode : {
					404 : function(){
						alert("link roto")
					}
				}
			}).done(function(resp){ 
				var datos = resp.split(",");

				if($.trim(datos[0]) == "t"){
					$("#check_acceso").prop("checked", true);

				}else{
					$("#check_acceso").prop("checked", false);
				}

				if($.trim(datos[1]) == "t") {
					$("#check_incluir").prop("checked", true);
				}else{
					$("#check_incluir").prop("checked", false);
				}

				if($.trim(datos[2]) == "t"){
					$("#check_modificar").prop("checked", true);
				}else{
					$("#check_modificar").prop("checked", false);
				}

				if($.trim(datos[3]) == "t"){
					$("#check_buscar").prop("checked", true);
				}else{
					$("#check_buscar").prop("checked", false);
				}

				if($.trim(datos[4]) == "t"){
					$("#check_imprimir").prop("checked", true);
				}else{
					$("#check_imprimir").prop("checked", false);
				}

				if($.trim(datos[5]) == "t"){
					$("#check_eliminar").prop("checked", true);
				}else{
					$("#check_eliminar").prop("checked", false);
				}

				if($.trim(datos[6]) == "t"){
					$("#check_anular").prop("checked", true);
				}else{
					$("#check_anular").prop("checked", false);
				}
			});
		}
	});

	function cancel_permi(){
		//$("#sel_usuario").val("");
		$("#sel_usuario,#sel_pantalla").val("");
       	$('#sel_usuario,#sel_pantalla').trigger("chosen:updated");
		$("#check_buscar,#check_incluir,#check_modificar,#check_eliminar,#check_acceso,#check_imprimir,#check_anular,#check_todos").prop("checked", false);
	}
	$(document).on("click","#cancel_form_permiso",function(){
		cancel_permi();
	});

/*--------FIN AL MODULO DE PERMISOS DE TECNICOS ----------*/
/*--------INICIO AL MODULO DE AUDITORIAS----------*/
	$("#audits").on("click",function(){
		$("#caja_text_forms").css({"display":"none"});
		$("#table-forms").css({"display":"block"});
		$("#content-menu").css({"border-right":"2px solid #005f76"});
		//$(".arrow-forms").css({"margin-top":"518px","border-bottom":"20px solid #005f76"});
		//-Mod gd:20102015
		$(".arrow-forms").css({"margin-top":"760px","border-bottom":"20px solid #005f76"});
		ir_tabla_audit(0,0,8,0);
	});

	
/*--------FIN AL MODULO DE AUDITORIAS----------*/

});

</script>

<div style="position: absolute; margin-left: -148px;">
		<div id='content-menu'>
			<div class="arrow-forms"></div>
			<div id='technicians' class='options-circles options-circles-technicians'><i class="fa fa-users"></i></div>
			<div id='area_solu' class='options-circles options-circles-area'><i class="fa fa-location-arrow"></i></div>
			<div id='tiposol' class='options-circles options-circles-tiposol'><i class="fa fa-pencil-square-o"></i></div>
			<div id='department' class='options-circles options-circles-department'><i class="fa fa-sitemap"></i></div>
			<div id='profile' class='options-circles options-circles-profile'><i class="fa fa-user"></i></div>
			<div id='permissions' class='options-circles options-circles-permissions'><i class="fa fa-check-square-o"></i></div>
			<div id='audits' class='options-circles options-circles-audits'><i class="fa fa-file-text-o"></i></div>
		</div>
</div>	

<section id='content-admin-sistema'>
	<div id='table-forms' class="table-forms"></div>
	<div id="caja_text_forms" class="caja_text_forms"></div>
	<input id="text_hidden_scroll" type="hidden" value="technicians,#cc4b4b"/>
	<input id="tab_tex_hidden" type="hidden"/>
	<div style='clear:both;'></div>
</section>
