<fieldset>
	<legend><h3>Reportes:Tickets solucionados</h3></legend>
</fieldset>
<div class="botonera_reportes">
	<div class="menu_rep">
		<div name="btn_ticket_x_tecnico" id="btn_ticket_x_tecnico" type="button" class="opcion_menu" type="button">Por T&eacute;cnicos</div>
	</div>
	<div class="menu_rep">
		<div name="btn_ticket_x_dpto" id="btn_ticket_x_dpto" type="button" class="opcion_menu" type="button">Por Departamentos</div>
	</div>
</div>
<div class="hr_botonera_rp"></div>
<div id="cuerpo_reporte" name="cuerpo_reporte">
	<div class='alert alert-info'><i class='fa fa-exclamation-circle'></i> Presione el bot&oacute;n del reporte que desea visualizar</div>
</div>
