<div class="contenedor_tabla_adm">
	<div class="alert alert-info {clase_tickets}"><i class="fa fa-exclamation-circle"> No hay tickets cargados</i></div>
	<table class="table table-striped table-hover {clase_tabla}">
		<thead>
			<tr>
				<th>Foto</th>
				<th>Nombres y Apellidos</th>
				<th>#Ticket</th>
				<th class="td_tabla">Descripci&oacute;n</th>
				<th>Tiempo de creaci&oacute;n</th>
				<th>Estatus</th>
				<th></th>
			</tr>		
		</thead>
		<tbody>
		<!--row_admintickets-->
			<tr>
				<td class="th_foto_tad"><img class="imagen_us_tad" src='{imagen_us_tad}'></td>
				<td>{nombres_apellidos_tad}</td>
				<td class="resalta_campo">#{ticket_ad}</td>
				<td class="desc_ticket_param2">{descripcion_tad}</td>
				<td class="resalta_campo">{tiempo_tad}</td>
				<td>{estatus}</td>
				<td>{acciones_tad}</td>				
			</tr>
		<!--row_admintickets-->			
		</tbody>
	</table>
	<div role="toolbar">
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
			<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
			<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
			<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
			<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>

	</div>
</div>