<script type="text/javascript">
//--Bloque de funciones
//--Validar fechas del reporte
//--Validar campos del formulario del reporte
function validar_campos_rep2(){
	if($("#fecha_desde_dpto").val()=="")
	{	
		mensaje_validacion("#mensajes_rep_ticket_dpto","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha desde");
		return false;
	}else
	if($("#fecha_hasta_dpto").val()=="")
	{
		mensaje_validacion("#mensajes_rep_ticket_dpto","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha hasta");
		return false;
	}
	else
	{
		return true;
	}	
}
//--Validación de campos de formulario para gráficos....
function validar_campos_graficos_dpto(){
	if($("#fecha_desde_dpto").val()=="")
	{	
		mensaje_validacion("#mensajes_rep_ticket_dpto","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha desde");
		return false;
	}else
	if($("#fecha_hasta_dpto").val()=="")
	{
		mensaje_validacion("#mensajes_rep_ticket_dpto","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha hasta");
		return false;
	}else
	if($("#select_dpto").val()!=0)
	{
		mensaje_validacion("#mensajes_rep_ticket_dpto","<i class='fa fa-exclamation-circle'></i> No debe seleccionar tecnicos para generar el reporte");
		return false;
	}	
	else
	{
		return true;
	}	
}
function validacion_fechas(opcion){
	//--Trasformo las fechas para comprar cual es la mayor
	var fecha_i = validar_fecha_formato($("#fecha_desde_dpto").val());
	var fecha_f = validar_fecha_formato($("#fecha_hasta_dpto").val());
	//--Verifico si la fecha hasta es < a fecha desde
	if(fecha_f<fecha_i){
		$("#fecha_hasta_dpto,#fecha_desde_dpto").val("");
		mensaje_validacion("#mensajes_rep_ticket_dpto","<i class='fa fa-exclamation-circle'></i> El valor de la fecha hasta no debe ser menor a la fecha desde");
	}
}
//--
//Funciones para manipular y generar Gráficos.....
//--Función que presenta el modal de grafico 1
function carga_grafica1_dpto(){
	//--Realizo la consulta de que tecnicos no tienen tickets
	var n_grafico ="1";
	var datos = [$("#fecha_desde_dpto").val(),$("#fecha_hasta_dpto").val(),n_grafico];
	var cuadro_leyenda;
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes","letrametodo":"consulta_leyenda_dpto","valores":datos},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		cuadro_leyenda = resp;
		cuadro_leyenda_pr = " Los siguientes departamentos no han realizado solicitudes de soporte en el per&iacute;odo señalado: ";
		//--
		var datos = [$("#fecha_desde_dpto").val(),$("#fecha_hasta_dpto").val(),$("#select_dpto").val(), n_grafico];
		activar_grafico();//Configuración de los modals
	    var cuerpo_mensaje='<button type="button" class="btn btn-danger" title="Exportar Gr&aacute;fico a pdf" id="btn_pdf_gr" name="btn_pdf_gr" onclick="exportar_pdf_graf('+n_grafico+');"><i class="fa fa-file-pdf-o"></i></button>\
							<div id="body_graph" name="body_graph"><center>\
								<div id="container" class="left" width:></div></center>\
							</div>';
			cuerpo_mensaje+="<div id='id_datatable'>\
								<label>Leyenda:</label><br><div id='cuadro_leyenda_pr'>"+cuadro_leyenda_pr+"</div><div id='cuadro_leyenda' style='text-align: justify;'>"+cuadro_leyenda+"</div></div>";					
		mensajes(cuerpo_mensaje);
		$("#cabecera_mensaje").html("<h3 class='modal-title' id='myModalLabel' name='myModalLabel'> Gr&aacute;fico #1:</h3>");
		presentar_grafico2(datos);//--Carga el gráfico con higcharts....
		//--
	});
}
//--Función que presenta el modal de grafico 2
//--Función que presenta el modal de grafico 1
function carga_grafica2_dpto(){
	var n_grafico ="2";
	var datos = [$("#fecha_desde_dpto").val(),$("#fecha_hasta_dpto").val(),n_grafico];
	var cuadro_leyenda;
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes","letrametodo":"consulta_leyenda_dpto","valores":datos},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		cuadro_leyenda = resp;
		cuadro_leyenda = "Cantidad de Departamentos activos en la instituci&oacute;n: "+resp;
		//--
		var datos = [$("#fecha_desde_dpto").val(),$("#fecha_hasta_dpto").val(),$("#select_tecnico").val(),n_grafico];
		activar_grafico();
		$("#guardar_apelacion,#cancelar_apelacion,#aceptar_eliminacion,#cancelar_eliminacion,#guardar_solticket,#cancelar_solticket,#aceptar_salir,#cancelar_salir").css({"display":"none"});
		$("#guardar_apel_solticket,#cancelar_apel_solticket").css({"display":"none"});
		$("#aceptar_mensaje").css({"display":"block"});
		var cuerpo_mensaje='<button type="button" class="btn btn-danger" title="Exportar Gr&aacute;fico a pdf" id="btn_pdf_gr" name="btn_pdf_gr" onclick="exportar_pdf_graf('+n_grafico+');"><i class="fa fa-file-pdf-o"></i></button><div id="container" class="left"></div>';
		cuerpo_mensaje+="<div id='id_tecnicos_grap'>\
									<label>Leyenda:</label><div id='cuadro_leyenda'>"+cuadro_leyenda+"</div>\
						 </div>";	
		mensajes(cuerpo_mensaje);
		$("#cabecera_mensaje").html("<h3 class='modal-title' id='myModalLabel' name='myModalLabel'> Gr&aacute;fico #2:</h3>");
		presentar_grafico1(datos);//--Carga el gráfico con higcharts....
		//--
	});
}
//-
function presentar_grafico1(datos){
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes", "letrametodo":"consultar_tickets_deptos_g1","valores":datos},
				cache:false,
				statusCode:
				{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		vector=$.parseJSON(resp);
		//---------------------------------
		limpiar_acentos(vector);
		//---------------------------------
		var options = {
			chart:{
    				renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
			},
			title:{
				text: 'TICKETS ATENDIDOS POR DEPARTAMENTOS ENTRE : <br> '+datos[0]+' Y '+datos[1]+''
			},
			subtitle: {
				            text: 'CONSIDERANDO UN 100% DE LOS CASOS ATENDIDOS CORRESPONDIENTES A '+vector[0][2]+' TICKETS '
			},
			tooltip: {
	            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	        },
	         plotOptions: {
			    pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                dataLabels: {
	                    enabled: true,
   	                    //format: '{point.name}: {point.percentage:.1f} %',
   	                    format: '{point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                	}
            		},
	           		showInLegend: true,
        		}
		    },
		    series: [{
		        type: 'pie',
		        name: 'Tickets atendidos',
		        data: [],
		    }],
		    exporting:{
		    			enabled:false
		    }
		}
		//-------------------------------        
		options.series[0].data = vector;
        var chart = new Highcharts.Chart(options);
	});
//--
}
//------------------------------------------------
function presentar_grafico2(datos){
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true,"letracontrol":"cargareportes","letrametodo":"consultar_tickets_deptos_g1","valores":datos},
				cache:false,
				statusCode:
				{
					404:function(){
						alert("Link roto");	
					}					
				}
	}).done(function(resp){
		var vector = $.parseJSON(resp);
		//---------------------------------
		limpiar_acentos(vector);
		//---------------------------------
		var categorias_eje_x = new Array();
		var tickets_resueltos = new Array(); 
		for(i=0;i<=vector.length-1;i++)
			{
				categorias_eje_x[i]=vector[i][0];
				tickets_resueltos[i]=parseFloat(vector[i][1]);			
			}
		//-----------------------------------------------------------------------------------------------------------------------------
		$('#container').highcharts({
						data: {
          						  table: 'datatable'
        				},
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: '<b>TICKETS ATENDIDOS POR DEPARTAMENTOS: <br> '+datos[0]+' Y '+datos[1]+'</b>'
				        },
				        subtitle: {
				            text: ''
				        },
				        xAxis: {
					            categories:categorias_eje_x,
					            title: {
									text: '<b># Departamentos</b>'
								}
				        },
				        yAxis: {
			        		allowDecimals: false,
				            stackLabels: {
				                enabled: true,
				                style: {
				                    fontWeight: 'bold',
				                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				                }
				            },
							title: {
								text: '<b># Tickets Atendidos</b>'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#80808F'
							}]
				        },
				        tooltip: {
				            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				            pointFormat: '<tr><td style="color:{series.color};padding:0">Total Atendidos: </td>' +
				                '<td style="padding:0"><b>{point.y:.f} Tickets</b></td></tr>',
				            footerFormat: '</table>',
				            shared: true,
				            useHTML: true
				        },
				        plotOptions: {
				            column: {
				                stacking: 'normal',
				                dataLabels: {
				                    enabled: false,
				                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
				                    style: {
				                        textShadow: '0 0 3px black'
				                    }
				                }
				            }
				        },
				        plotOptions: {
				            bar: {
				                dataLabels: {
				                    enabled: false
				                }
				            },

				        },
				       /* legend: {
				            layout: 'vertical',
				            align: 'right',
				            verticalAlign: 'top',
				            x: -10,
				            y: 100,
				            borderWidth: 0,
				        },*/
				        series: [{
				        	showInLegend: false,  
   				            colorByPoint: true,
				            data:comArr(tickets_resueltos),
				            dataLabels: {
	                            enabled: true,
	                            format: '{point.y:.0f}'
                        	}
				        }],
				        exporting:{
		    				enabled:false
		   				}
				    });
		//-----------------------------------------------------------------------------------------------------------------------------
	});
}
//--
//--Bloque de Eventos
var hoy = new Date();
var dia = hoy.getDate();
var mes = hoy.getMonth()+1;
var anio = hoy.getFullYear();
var fecha_hoy = dia+"-"+mes+"-"+anio;
//--Configuración de campo fecha_desde
$("#fecha_desde_dpto").datetimepicker({ 
    lang:'es',
    timepicker:false,
    format:'d-m-Y',
    formatDate:'Y-m-d',
});
//--Con figuración de campo fecha_hasta
$("#fecha_hasta_dpto").datetimepicker({ 
    lang:'es',
    timepicker:false,
    format:'d-m-Y',
    formatDate:'Y-m-d',
});
//--Envío de form
$("#generar_reporte_departamentos_ticket").on("click",function(){
	if(validar_campos_rep2() == true)
	{
		$("#form_reportes_dpto").submit();
	}	
});
//--Limpieza de campos
$("#cancelar_reporte_departamentos_ticket").click(function(){
	$("#fecha_desde_dpto,#fecha_hasta_dpto").val("");
	$("#select_dpto").val(0);
    $('#select_dpto').trigger("chosen:updated");
});
//-Boton de gráfico 1
$("#grafico1_dpto").on("click", function(){
	if(validar_campos_graficos_dpto() == true)
	{
		carga_grafica1_dpto();//Función encargada de mostrar el modal de graficos... 
	}	
});
//-Boton de gráfico 2
$("#grafico2_dpto").on("click", function(){
	if(validar_campos_graficos_dpto() == true)
	{
		carga_grafica2_dpto();//Función encargada de mostrar el modal de graficos2.. 
	}	
});

</script>
<div class="form-group">
	<div class="col-lg-6 title_rep"><h4>Tickets por Departamentos seg&uacute;n Filtros:</h4></div>		
</div>
<form class="form-horizontal" id="form_reportes_dpto" name="form_reportes_dpto" target="_blank" method="POST" action="reportes_dpto">
	<div class="form-group">
		<div class="col-lg-12">
			<p id="mensaje_inicio">
				Seleccione a continuaci&oacute;n alguno de los filtros presentes para visualizar reporte de tickets.
			</p>
		</div>
	</div>
	<div class="" id="contenedor_rep">
		<div class="col-lg-2">
			<input class="form-control" type="text" name="fecha_desde_dpto" id="fecha_desde_dpto" onkeyup="this.value=formateafecha(this.value);" onblur="validacion_fechas();" onchange="validacion_fechas();" placeholder="Fecha Desde">
		</div>
		<div class="col-lg-2">
			<input class="form-control" type="text" name="fecha_hasta_dpto" id="fecha_hasta_dpto" onkeyup="this.value=formateafecha(this.value);" onblur="validacion_fechas();" onchange="validacion_fechas();" placeholder="Fecha Hasta">
		</div>
		<div class="col-lg-3">
			<select class="form-control chosen" id="select_dpto" name="select_dpto" data-placeholder="--Seleccione un Departamento--">
			</select>
		</div>
		<div class="col-lg-4">
			<div id="cancelar_reporte_departamentos_ticket" name="cancelar_reporte_departamentos_ticket" class="btn btn-cancelar" type="button"><i class="fa fa-file-o"></i> Limpiar </div>
			<div id="mensajes_rep_ticket_dpto" name="mensajes_rep_ticket_dpto"></div>
		</div>
		<input type="hidden" id="letrametodo" name="letrametodo" value="reporte_ticket_x_dpto">
	</div>
	<div id="contenedor_botones">
		<hr>
		<div class="cont_botones" id="contenedor_botones_1">
			<div class="col-lg-12 left"><h4><i class="fa fa-line-chart"></i> Visualizar Gr&aacute;ficos:</h4></div>
			<div class="col-lg-12" style="left">
				<div id="grafico1_dpto" class="left btn-graficos"><img src="{url_server_name}media/imagenes/grafico_barras.png" class="btn-graficos-icon" title="Ver Gr&aacute;fico 1"><label>Gr&aacute;fico #1</label></div>
				<div id="grafico2_dpto" class="left btn-graficos"><img src="{url_server_name}media/imagenes/grafico_torta.png" class="btn-graficos-icon" title="Ver Gr&aacute;fico 1"><label>Gr&aacute;fico #2</label></div>
				<div class="clear;"></div>
			</div>
			<div class="col-lg-12">
				<div class="text-referencia left" id="nota">Nota: </div><p class="left" id="info-nota"> Haga click sobre los iconos de gr&aacute;ficos para visualizar estos, no es necesario seleccionar el filtro de departamentos</p>
			</div>
			<div class="col-lg-12 left" id="leyenda"><h4>Leyenda:</h4></div>
			<div class="col-lg-12">
				<i class="fa fa-asterisk"></i><label>Gr&aacute;fico #1 :</label><span>De acuerdo a cantidad de tickets atendidos por departamento.</span> 
			</div>
			<div class="col-lg-12">
				<i class="fa fa-asterisk"></i><label> Gr&aacute;fico #2 :</label><span>De acuerdo al porcentaje referente a cantidad de Tickets atendidos por departamento.</span> 
			</div>
			<div class="clear"></div>
		</div>
		<div class="cont_botones" id="contenedor_botones_2">
			<div class="col-lg-12"><h4><i class="fa fa-file-pdf-o"></i> Visualizar Reporte en PDF:</h4></div>
			<div class="col-lg-4">
				<div id="generar_reporte_departamentos_ticket" name="generar_reporte_departamentos_ticket" class="btn btn-aceptar" type="button"><i class="fa fa-file-text"></i> Ver pdf </div>
			</div>			
		</div>
		<div class="clear"></div>
	</div>
	<hr>			
</form>