<div class="contenedor_tabla">
<fieldset>
	<legend>
		<h3>Mis tickets generados</h3>
	</legend>
</fieldset>
	<div class="{clase_tickets} alert alert-info"role=" alert"><i class='fa fa-exclamation-circle'> </i> No hay tickets cargados</div>
	<table class="table table-striped table-hover {clase_tabla}">
	<thead>	
		<tr>
			<th># N&uacute;mero</th>
			<th class="desc_ticket_param">Descripci&oacute;n</th>
			<th>Fecha y Hora</th>
			<th>Estatus</th>
			<th>Operaciones</th>
		</tr>
	</thead>
	<tbody>	
	<!--row_mistickets-->
	<tr>
			<td class="td_tabla resalta_campo" onclick="mostrar_descripcion('{numero}','{descripcion2}','{fecha_hora}','{tecnico}','{estatus2}','{nombre_us_creador}','{cedula_us_creador}','{arreglo_json}');">#{numero}</td>
			<td class="desc_ticket_param" id="campo_descripcion" onclick="mostrar_descripcion('{numero}','{descripcion2}','{fecha_hora}','{tecnico}','{estatus2}','{nombre_us_creador}','{cedula_us_creador}','{arreglo_json}');">{descripcion}
			</td>
			<td class="td_tabla" onclick="mostrar_descripcion('{numero}','{descripcion2}','{fecha_hora}','{tecnico}','{estatus2}','{nombre_us_creador}','{cedula_us_creador}','{arreglo_json}');">{fecha_hora}</td>
			<td class="td_tabla" onclick="mostrar_descripcion('{numero}','{descripcion2}','{fecha_hora}','{tecnico}','{estatus2}','{nombre_us_creador}','{cedula_us_creador}','{arreglo_json}');">{estatus}</td>
			<td >{btn_row}</td>
	</tr>
	<!--row_mistickets-->	
	</tbody>	
	</table>
	<div role="toolbar">
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_anterior}" onclick='{paginador_anterior}' title="Ir anterior"><i class="fa fa-chevron-left"></i></button>
			<button type="button" class="btn btn-aceptar pag_btn {clase_paginador_siguiente}" onclick='{paginador_siguiente}' title="Ir siguiente"><i class="fa fa-chevron-right"></i></button>
			<span class='hide' id="offset_tabla" name="offset_tabla">{offset_tabla}</span>
			<span class='span_paginacion' id="inicio_tabla" name="inicio_tabla">{inicio_tabla}</span><span class="span_paginacion">-</span>
			<span class='span_paginacion' id="fin_tabla" name="fin_tabla">{fin_tabla}</span><span> de </span><span class="span_paginacion">:</span>
			<span class='span_paginacion' id="cuantos_tabla" name="cuantos_tabla">{cuantos_tabla}</span>
			 
	</div>
</div>
