<div id="cuerpo_apl_tec">
<div id="mensaje_reg_asig_apl" name="mensaje_reg_asig_apl"></div>
	<!--row_apl_tec-->
	<div class="form-group cuerpo_asig">
		<!--<div class="col-lg-1">
			<input  class="{listado_selec_apelaciones}" type="checkbox" id="{id_check}" name="{name_check}" value="{id_apelacion}" {checked} onclick="{desasignado}">
		</div>
		<div class="col-lg-11">
			{desc_apelacion}
		</div>-->
		<!-- -->
		<div class="apelacion_item">
	    	<label class="tasks-list-item {listado_selec_apelaciones}"><input type="checkbox" rel="chkequipo" id="{id_check}" name="{name_check}" value="{id_apelacion}" {checked} onclick="{desasignado}" class="tasks-list-cb"/>
	        	<span class="tasks-list-mark"></span>
	        	<span class="tasks-list-desc">{desc_apelacion}</span>
	    	</label>
		</div>
		<!-- -->
	</div>
	<!--row_apl_tec-->
	
	<div>
		<input type="hidden" size="2" name="id_tec" id="id_tec" value="{id_tec}">
		<input type="hidden" size="2" name="id_ticket" id="id_ticket" value="{id_ticket}">
		<input type="hidden" size="2" name="nombre_tecnico_apl" id="nombre_tecnico_apl" value="{nombre_tecnico}">
		<input type="hidden" size="2" name="correo_tecnico_apl" id="correo_tecnico_apl" value="{correo_tecnico}">
	</div>
</div>