<script type="text/javascript">
//--Variables
var chart = '';
//--Bloque de eventos

//--Bloque de funciones
//--Validar campos del formulario del reporte
function validar_campos_rep1(){
	if($("#fecha_desde").val()=="")
	{	
		mensaje_validacion("#mensajes_rep_ticket","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha desde");
		return false;
	}else
	if($("#fecha_hasta").val()=="")
	{
		mensaje_validacion("#mensajes_rep_ticket","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha hasta");
		return false;
	}
	else
	{
		return true;
	}	
}
//--Validar campos del formulario del reporte en caso de mostrar graficos
function validar_campos_graficos(){
	if($("#fecha_desde").val()=="")
	{	
		mensaje_validacion("#mensajes_rep_ticket","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha desde");
		return false;
	}else
	if($("#fecha_hasta").val()=="")
	{
		mensaje_validacion("#mensajes_rep_ticket","<i class='fa fa-exclamation-circle'></i> Debe Ingresar un valor de fecha, en el campo Fecha hasta");
		return false;
	}else
	if($("#select_tecnico").val()!=0)
	{
		mensaje_validacion("#mensajes_rep_ticket","<i class='fa fa-exclamation-circle'></i> No debe seleccionar tecnicos para generar el reporte");
		return false;
	}	
	else
	{
		return true;
	}	
}
//--Validar fechas del reporte
function validacion_fechas(opcion){
	//--Trasformo las fechas para comprar cual es la mayor
	var fecha_i = validar_fecha_formato($("#fecha_desde").val());
	var fecha_f = validar_fecha_formato($("#fecha_hasta").val());
	//--Verifico si la fecha hasta es < a fecha desde
	if(fecha_f<fecha_i){
		$("#fecha_hasta,#fecha_desde").val("");
		mensaje_validacion("#mensajes_rep_ticket","<i class='fa fa-exclamation-circle'></i> El valor de la fecha hasta no debe ser menor a la fecha desde");
	}
}
//--Función que presenta el modal de grafico 1
function carga_grafica1(){
	//--Realizo la consulta de que tecnicos no tienen tickets
	var n_grafico ="1";
	var datos = [$("#fecha_desde").val(),$("#fecha_hasta").val(),n_grafico];
	var cuadro_leyenda;
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes","letrametodo":"consulta_leyenda","valores":datos},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		cuadro_leyenda = resp;
		cuadro_leyenda_pr = " Los siguientes t&eacute;cnicos no han sido asignados para resolver tickets en las fechas seleccionadas: ";
		//--
		var datos = [$("#fecha_desde").val(),$("#fecha_hasta").val(),$("#select_tecnico").val(), n_grafico];
		activar_grafico();//Configuración de los modals
	    var cuerpo_mensaje='<button type="button" class="btn btn-danger" title="Exportar Gr&aacute;fico a pdf" id="btn_pdf_gr" name="btn_pdf_gr" onclick="exportar_pdf_graf('+n_grafico+');"><i class="fa fa-file-pdf-o"></i></button>\
							<div id="body_graph" name="body_graph"><center>\
								<div id="container" class="left" width:></div></center>\
							</div>';
			cuerpo_mensaje+="<div id='id_datatable'>\
								<label>Leyenda:</label><br><div id='cuadro_leyenda_pr'>"+cuadro_leyenda_pr+"</div><div id='cuadro_leyenda'>"+cuadro_leyenda+"</div></div>";					
		mensajes(cuerpo_mensaje);
		$("#cabecera_mensaje").html("<h3 class='modal-title' id='myModalLabel' name='myModalLabel'> Gr&aacute;fico #2:</h3>");
		presentar_grafico1(datos);//--Carga el gráfico con higcharts....
		//--
	});
}
//--Función que presenta el modal de grafico 2
function carga_grafica2(){
	var n_grafico ="2";
	var datos = [$("#fecha_desde").val(),$("#fecha_hasta").val(),n_grafico];
	var cuadro_leyenda;
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes","letrametodo":"consulta_leyenda","valores":datos},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		cuadro_leyenda = resp;
		cuadro_leyenda = "Cantidad de T&eacute;cnicos activos: "+resp;
		//--
		var datos = [$("#fecha_desde").val(),$("#fecha_hasta").val(),$("#select_tecnico").val(),n_grafico];
		activar_grafico();
		$("#guardar_apelacion,#cancelar_apelacion,#aceptar_eliminacion,#cancelar_eliminacion,#guardar_solticket,#cancelar_solticket,#aceptar_salir,#cancelar_salir").css({"display":"none"});
		$("#guardar_apel_solticket,#cancelar_apel_solticket").css({"display":"none"});
		$("#aceptar_mensaje").css({"display":"block"});
		var cuerpo_mensaje='<button type="button" class="btn btn-danger" title="Exportar Gr&aacute;fico a pdf" id="btn_pdf_gr" name="btn_pdf_gr" onclick="exportar_pdf_graf('+n_grafico+');"><i class="fa fa-file-pdf-o"></i></button><div id="container" class="left"></div>';
		cuerpo_mensaje+="<div id='id_tecnicos_grap'>\
									<label>Leyenda:</label><div id='cuadro_leyenda'>"+cuadro_leyenda+"</div>\
						 </div>";	
		mensajes(cuerpo_mensaje);
		$("#cabecera_mensaje").html("<h3 class='modal-title' id='myModalLabel' name='myModalLabel'> Gr&aacute;fico #1:</h3>");
		presentar_grafico2(datos);//--Carga el gráfico con higcharts....
		//--
	});	
}
//--Función que presenta el mddal de grafico 3
function carga_grafica3(){
	var n_grafico ="3";
	var datos = [$("#fecha_desde").val(),$("#fecha_hasta").val(),n_grafico];
	var cuadro_leyenda ='';
	//--Bloque para realizar la carga de la leyenda del gráfico
	//---------------------------------------------------------------------
	activar_grafico();
	var cuerpo_mensaje='<button type="button" class="btn btn-danger" title="Exportar Gr&aacute;fico a pdf" id="btn_pdf_gr" name="btn_pdf_gr" onclick="exportar_pdf_graf('+n_grafico+');"><i class="fa fa-file-pdf-o"></i></button><div id="container" class="left"></div>';
	cuerpo_mensaje+="<div id='id_tecnicos_grap'>\
							<label>Leyenda:</label><div id='cuadro_leyenda_pr'></div>\
							<div id='cuadro_leyenda'>A continuación se presenta el cuadro resum&eacute;n de tiempos atenci&oacute;n tickets por t&eacute;cnicos, seg&uacute;n las fechas seleccionadas:</div>\
				    </div>\
				    <div id='tabla_leyenda' name='tabla_leyenda'></div>\
				    <input type='hidden' name='opcion_grafico' id='opcion_grafico' size='2'>\
				    <div class='clear;'></div>";	
	mensajes(cuerpo_mensaje);
	//--
	$("#opcion_grafico").val("3");
	//--
	$("#cabecera_mensaje").html("<h3 class='modal-title' id='myModalLabel' name='myModalLabel'> Gr&aacute;fico #3:</h3>");
	presentar_grafico3(datos);//--Carga el gráfico con higcharts....
	cargar_tabla_leyenda(datos);
}
//--Función que carga la tabla de la leyenda...
function cargar_tabla_leyenda(datos){

	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes", "letrametodo":"cargar_tabla_leyenda_g3", "valores":datos},
				cache:"false",
				statusCode:
				{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		$("#tabla_leyenda").html(resp);
	});
}
//--Función perteneciente a grafico1
function presentar_grafico1(datos){
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes", "letrametodo":"consultar_tickets_tecnicos_g1","valores":datos},
				cache:false,
				statusCode:
				{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		vector=$.parseJSON(resp);
		//---------------------------------
		limpiar_acentos(vector);
		//---------------------------------
		var options = {
			chart:{
    				renderTo: 'container',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
			},
			title:{
				text: 'TICKETS ATENDIDOS POR TÉCNICOS ENTRE : <br> '+datos[0]+' Y '+datos[1]+''
			},
			subtitle: {
				            text: 'CONSIDERANDO UN 100% DE LOS CASOS ATENDIDOS CORRESPONDIENTES A '+vector[0][2]+' TICKETS '
			},
			tooltip: {
	            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
	        },
	         plotOptions: {
			    pie: {
	                allowPointSelect: true,
	                cursor: 'pointer',
	                dataLabels: {
	                    enabled: true,
   	                    //format: '{point.name}: {point.percentage:.1f} %',
   	                    format: '{point.percentage:.1f} %',
	                    style: {
	                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
	                	}
            		},
	           		showInLegend: true,
        		}
		    },
		    series: [{
		        type: 'pie',
		        name: 'Tickets atendidos',
		        data: [],
		    }],
		    exporting:{
		    			enabled:false
		    }
		}
		//-------------------------------        
		options.series[0].data = vector;
        var chart = new Highcharts.Chart(options);
	});
//--
}
//--Función perteneciente a grafico2
function presentar_grafico2(datos){
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true,"letracontrol":"cargareportes","letrametodo":"consultar_tickets_tecnicos_g1","valores":datos},
				cache:false,
				statusCode:
				{
					404:function(){
						alert("Link roto");	
					}					
				}
	}).done(function(resp){
		var vector = $.parseJSON(resp);
		//---------------------------------
		limpiar_acentos(vector);
		//---------------------------------
		var categorias_eje_x = new Array();
		var tickets_resueltos = new Array(); 
		for(i=0;i<=vector.length-1;i++)
			{
				categorias_eje_x[i]=vector[i][0];
				tickets_resueltos[i]=parseFloat(vector[i][1]);			
			}
		//-----------------------------------------------------------------------------------------------------------------------------
		$('#container').highcharts({
						data: {
          						  table: 'datatable'
        				},
				        chart: {
				            type: 'column'
				        },
				        title: {
				            text: '<b>TICKETS ATENDIDOS POR TÉCNICOS ENTRE: <br> '+datos[0]+' Y '+datos[1]+'</b>'
				        },
				        subtitle: {
				            text: ''
				        },
				        xAxis: {
					            categories:categorias_eje_x,
					            title: {
									text: '<b># Técnicos</b>'
								}
				        },
				        yAxis: {
			        		allowDecimals: false,
				            stackLabels: {
				                enabled: true,
				                style: {
				                    fontWeight: 'bold',
				                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
				                }
				            },
							title: {
								text: '<b># Tickets Atendidos</b>'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#80808F'
							}]
				        },
				        tooltip: {
				            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				            pointFormat: '<tr><td style="color:{series.color};padding:0">Total Atendidos: </td>' +
				                '<td style="padding:0"><b>{point.y:.f} Tickets</b></td></tr>',
				            footerFormat: '</table>',
				            shared: true,
				            useHTML: true
				        },
				        plotOptions: {
				            column: {
				                stacking: 'normal',
				                dataLabels: {
				                    enabled: false,
				                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
				                    style: {
				                        textShadow: '0 0 3px black'
				                    }
				                }
				            }
				        },
				        plotOptions: {
				            bar: {
				                dataLabels: {
				                    enabled: false
				                }
				            },

				        },
				       /* legend: {
				            layout: 'vertical',
				            align: 'right',
				            verticalAlign: 'top',
				            x: -10,
				            y: 100,
				            borderWidth: 0,
				        },*/
				        series: [{
				        	showInLegend: false,  
   				            colorByPoint: true,
				            data:comArr(tickets_resueltos),
				            dataLabels: {
	                            enabled: true,
	                            format: '{point.y:.0f}'
                        	}
				        }],
				        exporting:{
		    				enabled:false
		   				}
				    });
		//-----------------------------------------------------------------------------------------------------------------------------
	});
}
//--Función perteneciente a grafico2
function presentar_grafico3(datos){
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true,"letracontrol":"cargareportes","letrametodo":"consultar_tickets_tecnicos_g3","valores":datos},
				cache:false,
				statusCode:
				{
					404:function(){
						alert("Link roto");	
					}					
				}
	}).done(function(resp){
		var vector = $.parseJSON(resp);
		var categorias_eje_x = new Array();
		var total_segundos = new Array(); 
		var total_promedio_segundos = new Array();
		var total_horas = new Array();
		var total_promedio_horas = new Array();
		$.each(vector,function(i,recordset){
			categorias_eje_x[i] = remplazar_acentos_acute(recordset.nombre);
			total_segundos[i] = parseFloat(recordset.total_segundos);
			total_promedio_segundos[i] = parseFloat(recordset.total_promedio_segundos);
			//--Armando vector de horas....
			total_horas[i] = recordset.total_horas;
			//--Armando vector de promedio de horas...
			total_promedio_horas[i] = recordset.total_promedio_horas;
		});
		//-----------------------------------------------------------------------------------------------------------------------------
		$('#container').highcharts({
						chart: {
				            type: 'column'
				        },
				        title: {
				            text: '<b>	TIEMPOS DE ATENCIÓN TICKETS POR TÉCNICOS ENTRE: <br> '+datos[0]+' Y '+datos[1]+'</b>'
				        },
				        subtitle: {
				            text: ''
				        },
				        xAxis: {
					            categories:categorias_eje_x,
					            title: {
									text: '<b># Técnicos</b>'
								}
				        },
				        yAxis: {
			        		allowDecimals: false,
				            stackLabels: {
				                enabled: true,
				                style: {
				                    fontWeight: 'bold',
				                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'red'
				                }
				            },
							title: {
								text: '<b># Total tiempo Respuesta (Min)</b>'
							},
							plotLines: [{
								value: 0,
								width: 1,
								color: '#80808F'
							}]
				        },
				        tooltip: {
				            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:</td>' +
				                '<td style="padding:0"><b>{point.y:.f} Minutos</b></td></tr>',
				            footerFormat: '</table>',
				            shared: true,
				            useHTML: true
				        },
				        plotOptions: {
				            bar: {
				            	stacking: 'normal',
				                dataLabels: {
				                    enabled: true,
				                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
				                    style: {
				                        textShadow: '0 0 3px black'
				                    }
				                }
				            },
				        },
				        /*series: [{
				        	showInLegend: true,  
   				            colorByPoint: true,
				            data:comArr(categorias_y),
				        }],*/
				        series: [{
				            name: 'Total Tiempo Respuesta Acumulado',
				            data: comArr(total_segundos),
				        //---------------------------------------
				         	dataLabels: {
	                            enabled: true,
                        	}
				        //--------------------------------------    
				        }, {
				            name: 'Total Promedio Tiempo Respuesta',
				            data: comArr(total_promedio_segundos),
				        //---------------------------------------
				         	dataLabels: {
	                            enabled: true,
                        	}
				        //--------------------------------------   
				        }],				         
				        exporting:{
		    				enabled:false
		    			}	
		   				
				    });
		//-----------------------------------------------------------------------------------------------------------------------------
	});
}
//-- Función renderPDF
/*function renderPdf(imgData) {
    var doc = new jsPDF('landscape');
    doc.addImage(imgData, 'JPEG', 5, 5, 260, 110);
    var source = window.document.getElementsByTagName("datatable")[0];
    //--Armando estructura de la tabla de leyenda-------------------------
    //--------------------------------------------------------------------
	//--Para generar el grafico en otra ventana
    doc.output('dataurlnewwindow');   //Para ver la imagen en otra ventana
    var output = doc.output();
    return  btoa(output);//guardar data en disco
    //--
}*/
//-- Función renderPDF
function renderPdf(imgData){
	//--Consultar por ajax usuario y hora de impresion
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes", "letrametodo":"encabezado_rp_js"},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
	//----------------------------------------------------------------------------------------------------------------------
		//--
	    var vector_info = $.parseJSON(resp);
	    //alert(vector_info[0]);
	    var doc = new jsPDF('landscape','pt', 'a4', true);
	    //doc.addImage(imgData, 'JPEG', 35, 20, 220, 130);
  	    doc.addImage(imgData, 'JPEG', 100, 60, 600, 400);
	    //--Estructura del encabezado 
	    doc.setFontType("bold");
	    doc.setFontSize(12);
	    doc.text(697,30,vector_info[1]);
	    doc.text(680,50,"Impreso por: "+vector_info[0]);
		//--Estructura del contenido del reporte
	    doc.setFontType("bold");
	    doc.setFontSize(12);
	    doc.text(30,460,"Leyenda:");
		doc.setFontType("normal");
		//--
		previa = $("#cuadro_leyenda_pr").text();
		doc.text(25,480,previa);
		leyenda_texto = $("#cuadro_leyenda").text();
		//--Configuración del cuadro
		margin = 0.5;
		size = 12;
		fonts = [['Times','Roman'],['Helvetica',''], ['Times','Italic']]
		verticalOffset = 500;
		//-------------------------------------------------------------------
			lines = doc.setFont('Helvetica','')
						.setFontSize(size)
						.splitTextToSize(leyenda_texto, 700);
		doc.text(50, verticalOffset + size / 72, lines);
		verticalOffset += (lines.length + 0.5) * size / 72;
	    //--------------------------------------------------------------------
	    //--Si es el tercer gfráfico, imprime tabla html
	    if($("#opcion_grafico").val()==3){
		    doc.addPage();
			specialElementHandlers = {
		        // element with id of "bypass" - jQuery style selector
		        '#bypassme': function (element, renderer) {
		            // true = "handled elsewhere, bypass text extraction"
		        	return true
		        }
		    };
		    margins = {
		        top: 50,
		        bottom: 10,
		        left: 70,
		        width: 800		        
		    };
			var source=$("#contenedor_leyenda_g3")[0];
	        /*doc.fromHTML(source,30,10,{	
	            'width': 160,
	            'elementHandlers': specialElementHandlers
	        })*/
			doc.fromHTML(
			    source, // HTML string or DOM elem ref.
			    margins.left, // x coord
			    margins.top, { // y coord
			        'width': margins.width, // max width of content on PDF
			        'elementHandlers': specialElementHandlers
			},margins)
	    }
	    //--------------------------------------------------------------------
		//--Para generar el grafico en otra ventana
	    doc.output('dataurlnewwindow');//Para ver la imagen en otra ventana
	    var output = doc.output();
	    return  btoa(output);//guardar data en disco
    //-----------------------------------------------------------------------------------------------------------------------
	});
}
//--Función para exportar en pdf el grafico al pulsar el boton
function exportar_pdf_graf(n_grafico){
	var chart = $('#container').highcharts();
	Highcharts.exportCharts([chart]);
}
//--Función para pasar una tabla HTML  a JSON
function tableToJson(table){
	var data = [];
	var headers = [];
	for( var i=0; i<table.rows[0].cells.length; i++){
		headers[i] =table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,' ');
	}
	data.push(headers);
	//--
	for(var i=1; i<table.rows.length;i++){
		var tableRow =  table.rows[i];
		var rowData = {};
		for(var j=0; j<tableRow.cells.length; j++){
			rowData[ headers[j] ] = tableRow.cells[j].innerHTML;
		}
		data.push(rowData);
	}
	//--
	return data;
}
//--Función para crear leyenda con tecnicos que no tienen porcentaje
function cargar_leyenda(fecha_desde,fecha_hasta){
	var datos = [fecha_desde, fecha_hasta];
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes","letrametodo":"tecnicos_sin_tickets","valores":datos},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		return resp;
	});
}
//--
function cargar_select_tecnicos(){
	var datos = "";
	$.ajax({
				url:"{url_server_name}",
				type:"POST",
				data:{"letrajax":true, "letracontrol":"cargareportes", "letrametodo":"cargar_tecnicos_select","valores":datos},
				cache:false,
				statusCode:{
					404:function(){
						alert("Link roto");
					}
				}
	}).done(function(resp){
		//alert(resp);
		$("#select_tecnico").html(resp);
		//--Activo chosen 
		$('.chosen').chosen({
	    	no_results_text: "No hemos encontrado resultados!",
			allow_single_deselect: true
		});
		if($("#select_tecnico").val()){
			$('#select_tecnico').trigger("chosen:updated");			
		}
//--
	});
}
//--	
//--Bloque de Eventos
var hoy = new Date();
var dia = hoy.getDate();
var mes = hoy.getMonth()+1;
var anio = hoy.getFullYear();
var fecha_hoy = dia+"-"+mes+"-"+anio;
//--
//
 cargar_select_tecnicos();
//
Highcharts.setOptions({credits: {enabled: false}});
//--Configuración de campo fecha_desde
$("#fecha_desde").datetimepicker({ 
    lang:'es',
    timepicker:false,
    format:'d-m-Y',
    formatDate:'Y-m-d',
});
//--Con figuración de campo fecha_hasta
$("#fecha_hasta").datetimepicker({ 
    lang:'es',
    timepicker:false,
    format:'d-m-Y',
    formatDate:'Y-m-d',
});
//--
$("#generar_reporte_tecnicos_ticket").on("click",function(){
	if(validar_campos_rep1() == true)
	{
		$("#form_reportes").submit();
	}		
});
//--Click en grafico 1
$("#grafico2").on("click",function(){
	if(validar_campos_graficos() == true)
	{
		carga_grafica1();//Función encargada de mostrar el modal de graficos...
	}	
})
//--Click en grafico 2
$("#grafico1").on("click", function(){
	if(validar_campos_graficos() == true)
	{
		carga_grafica2();//Función encargada de mostrar el modal de graficos... 
	}	
});
//--Click en grafico 3
$("#grafico3").on("click", function(){
	if(validar_campos_graficos()== true)
	{
		carga_grafica3();//Función encarga de mostrar el modal de gr+áfico 3...
	}
});
//--Permitir export local de gráfico men highcharts-------------------------------
 	/**
     * Create a global getSVG method that takes an array of charts as an argument
     */
    Highcharts.getSVG = function(charts) {
        var svgArr = [],
            top = 0,
            width = 0;
 
        $.each(charts, function(i, chart) {
            var svg = chart.getSVG();
            svg = svg.replace('<svg', '<g transform="translate(0,' + top + ')" ');
            svg = svg.replace('</svg>', '</g>');
 
            top += chart.chartHeight;
            width = Math.max(width, chart.chartWidth);
 
            svgArr.push(svg);
        });
 
        return '<svg height="'+ top +'" width="' + width + '" version="1.1" xmlns="http://www.w3.org/2000/svg">' + svgArr.join('') + '</svg>';
    };
    /**
     * Create a global exportCharts method that takes an array of charts as an argument,
     * and exporting options as the second argument
     */
    Highcharts.exportCharts = function(charts, options) {
        var svg = Highcharts.getSVG(charts);
 
        var canvas = document.createElement('canvas');
        canvas.setAttribute('width', 500);
        canvas.setAttribute('height', 500);
 
        if (canvas.getContext && canvas.getContext('2d')) {
            canvg(canvas, svg);
 
            var image = canvas.toDataURL("image/jpeg");
            renderPdf(image);
            //window.location.href = image;
        }
    }; 
//--Al cancelar reporte de tickets por tecnico
 $("#cancelar_reporte_tecnicos_ticket").click(function(){
		$("#fecha_desde,#fecha_hasta").val("");
		$("#select_tecnico").val(0);
        $('#select_tecnico').trigger("chosen:updated");
});
//-------------------------------------------------------------------------------
</script>
<div class="form-group">
	<div class="col-lg-6 title_rep"><h4>Tickets por T&eacute;cnicos seg&uacute;n Filtros:</h4></div>		
</div>
<form class="form-horizontal" id="form_reportes" name="form_reporte" target="_blank" method="POST" action="reportes">
	<div class="form-group">
		<div class="col-lg-12">
			<p id="mensaje_inicio">
				Seleccione a continuaci&oacute;n alguno de los filtros presentes para visualizar reporte de tickets.
			</p>
		</div>
	</div>
	<div class="" id="contenedor_rep">
		<div class="col-lg-2">
			<input class="form-control" type="text" name="fecha_desde" id="fecha_desde" onkeyup="this.value=formateafecha(this.value);" onblur="validacion_fechas();" onchange="validacion_fechas();" placeholder="Fecha Desde">
		</div>
		<div class="col-lg-2">
			<input class="form-control" type="text" name="fecha_hasta" id="fecha_hasta" onkeyup="this.value=formateafecha(this.value);" onblur="validacion_fechas();" onchange="validacion_fechas();" placeholder="Fecha Hasta">
		</div>
		<div class="col-lg-3">
			<select class="form-control chosen" id="select_tecnico" name="select_tecnico" data-placeholder="--Seleccione un T&eacute;cnico--">
				{tecnicos_tecnologia}
			</select>
		</div>
		<div class="col-lg-4">
			<div id="cancelar_reporte_tecnicos_ticket" name="cancelar_reporte_tecnicos_ticket" class="btn btn-cancelar" type="button"><i class="fa fa-file-o"></i> Limpiar </div>
			<div id="mensajes_rep_ticket" name="mensajes_rep_ticket"></div>
		</div>
		<input type="hidden" id="letrametodo" name="letrametodo" value="reporte_ticket_x_tecnico">
	</div>
	<div id="contenedor_botones">
		<hr>
		<div class="cont_botones" id="contenedor_botones_1">
			<div class="col-lg-12 left"><h4><i class="fa fa-line-chart"></i> Visualizar Gr&aacute;ficos:</h4></div>
			<div class="col-lg-12" style="left">
				<div id="grafico1" class="left btn-graficos"><img src="{url_server_name}media/imagenes/grafico_barras.png" class="btn-graficos-icon" title="Ver Gr&aacute;fico 1"><label>Gr&aacute;fico #1</label></div>
				<div id="grafico2" class="left btn-graficos"><img src="{url_server_name}media/imagenes/grafico_torta.png" class="btn-graficos-icon" title="Ver Gr&aacute;fico 1"><label>Gr&aacute;fico #2</label></div>
				<div id="grafico3" class="left btn-graficos"><img src="{url_server_name}media/imagenes/grafico_barras2.png" class="btn-graficos-icon" title="Ver Gr&aacute;fico 3"><label>Gr&aacute;fico #3</label></div>
				<div class="clear;"></div>
			</div>
			<div class="col-lg-12">
				<div class="text-referencia left" id="nota">Nota: </div><p class="left" id="info-nota"> Haga click sobre los iconos de gr&aacute;ficos para visualizar estos, no es necesario seleccionar el filtro de técnicos</p>
			</div>
			<div class="col-lg-12 left" id="leyenda"><h4>Leyenda:</h4></div>
			<div class="col-lg-12">
				<i class="fa fa-asterisk"></i><label>Gr&aacute;fico #1 :</label><span>De acuerdo a cantidad de tickets atendidos por t&eacute;cnicos.</span> 
			</div>
			<div class="col-lg-12">
				<i class="fa fa-asterisk"></i><label> Gr&aacute;fico #2 :</label><span>De acuerdo al porcentaje referente a cantidad de Tickets atendidos por t&eacute;cnicos.</span> 
			</div>
			<div class="col-lg-12">
				<i class="fa fa-asterisk"></i><label>Gr&aacute;fico #3 :</label><span>De acuerdo a promedio tiempo con respecto a la primera respuesta de los t&eacute;cnicos.</span> 
			</div>
			<div class="clear"></div>
		</div>
		<div class="cont_botones" id="contenedor_botones_2">
			<div class="col-lg-12"><h4><i class="fa fa-file-pdf-o"></i> Visualizar Reporte en PDF:</h4></div>
			<div class="col-lg-4">
				<div id="generar_reporte_tecnicos_ticket" name="generar_reporte_tecnicos_ticket" class="btn btn-aceptar" type="button"><i class="fa fa-file-text"></i> Ver pdf </div>
			</div>			
		</div>
		<div class="clear"></div>
	</div>
	<hr>			
</form>