<div class="cuerpo_tec_sel">
<!--row_tecnico_adm-->
<div class="alert alert-danger alerta_div {clase_adm_tecnico2}" role="alert"><i class='fa fa-exclamation-circle'></i>No hay técnicos asignados para este ticket</div>
	<div class='contendor_mtecnico {clase_adm_tecnico}'>
		<hr>
		<img class='imagen_as_tec' src='{imagen_tecnico_adm}'>
		<div class='nombre_mtec_adm'>{nombres_tecnico_adm}</div>
		<div>{btn_asig_ticket}{btn_asig_apel}</div>
	</div>
<!--row_tecnico_adm-->
</div>