<!--row_mensaje-->
<div class="contenedor_agrupacion_mensaje">
	<div id='contendor_apl' class='{show_hide_apl}'>
		<hr>
		<div>
			<img class='imagen_us {clase_imagen_respapel}' src='{imagen_us_apl}'>
		</div>
		<div class='contenido_mensaje'>
			<div class='nombre_us_apl'>{nombre_us_apl}</div><div class="mensaje_accion">{accion_tecnico}</div>
			<div class='cuadro_descripcion_apl'>{observacion_apelacion}</div>
			<label class='cuadro_datos_apl'>{datos_apl}</label>
		</div>
	</div>
</div>
<!--row_mensaje-->
<!--row_mensaje_tecnico-->
<div class="contenedor_agrupacion_metecnico">
	<div class='contendor_mtecnico {show_hide_resp_mtec}'>
		<hr>
		<div>
			<img class='imagen_tecnico {clase_imagen_resptec}' src='{imagen_tecnico}'>
		</div>
		<div class='contenido_mensaje'>	
			<div class='nombre_mtec'>{nombres_tecnico}</div><div class="mensaje_accion">{accion_tecnico}</div>
			<div class='cuadro_descripcion_sol'>{mensaje_solucion_atencion}</div>
			<label class='cuadro_datos_mtec'>{datos_sol}</label>
		</div>
	</div>
</div>
<!--row_mensaje_tecnico-->